
<section class="block pb5 " id="job-description">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-lg-10">
				<hr>
			</div>
			<div class="col-md-3 col-lg-3">
				<h4 class="bold medium-dark">Description</h4>
			</div>
			<div class="col-md-9 col-lg-7 mb3">
				<div class="wysiwyg">
					{{ item.acf.job_description|safe }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-10">
				<hr>
			</div>
			<div class="col-md-3 col-lg-3">
				<h4 class="bold medium-dark">How To Apply</h4>
			</div>
			<div class="col-md-9 col-lg-7 mb3">
				<div class="wysiwyg">
					{{ item.acf.how_to_apply|safe }}
				</div>
			</div>
		</div>		
	</div>
</section>


