
/* Variables */

//brand colors
$brand: #002856;

//grays
$ultra-light: #F5F5F5;
$light: #D8D8D8;
$medium-light: #9B9B9B;
$medium: #828282;
$medium-dark: #555555;
$dark: #222222;


//utility colors
$error: #ff4a4a;


//sizes
$nav-top-height: 50px;
$nav-height: 75px;
$nav-height-mobile: 50px;
$container-fluid-max-width: none;
$container-fluid-padding: 60px;
$container-fluid-padding-mobile: 15px;
$container-fluid-sum: $container-fluid-padding * 2;
$container-fluid-sum-mobile: $container-fluid-padding-mobile * 2;


//transitions
$modal-transition: .35s;


//breakpoints
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;


//site
$body-background-color: white;
$yellow: #FDBA44;
$yellow-darker: darken($yellow, 16%);

$font-main: 'Akkurat-Regular', Helvetica, Arial, Sans-serif;
$font-italic: 'Akkurat-Italic', Helvetica, Arial, Sans-serif;
$font-bold: 'Akkurat-Bold', Helvetica, Arial, Sans-serif;
$font-bold-italic: 'Akkurat-Bold-Italic', Helvetica, Arial, Sans-serif;
$font-light: 'Akkurat-Light', Helvetica, Arial, Sans-serif;
$font-light-italic: 'Akkurat-Light-Italic', Helvetica, Arial, Sans-serif;

