{# ------------------------------------------------------- #}

{# BASE TEMPLATE #}

{# ------------------------------------------------------- #}

{% block definitions %}
{% endblock %}

<!DOCTYPE html>
<html class="no-js">
<head>

    {% if pageType === 'single' || pageType === 'page' || pageType === 'archive' %}

        {% if pageTitle %}
            {% set page_title = pageTitle %}
            {% set page_suffix = globals.site_title %}
        {% else %}
            {% set page_title = globals.site_title %}
            {% set page_suffix = globals.site_description %}
        {% endif %}

        {% if item.acf.social_media_title %}
            {% set social_title = item.acf.social_media_title %}
        {% else %}
            {% set social_title = page_title %}
        {% endif %}

        {% if item.acf.social_media_description %}
            {% set social_description = item.acf.social_media_description %}
        {% else %}
            {% set social_description = globals.site_description  %}
        {% endif %}

        {% if item.acf.social_media_image %}
            {% set social_image = item.acf.social_media_image.sizes.facebook %}
        {% else %}
            {% set social_image = globals.site_url + '/public/images/social-card-default.png' %}
        {% endif %}

        {% set social_url = item.link %}

{#     {% elseif pageType === 'archive' %}

        {% set page_title = globals.site_title %}
        {% set page_suffix =  globals.site_description %}

        {% if social_title %}
            {% set social_title =  item.social_media_title %}
        {% else %}
            {% set social_title = globals.site_title %}
        {% endif %}

        {% if social_description %}
            {% set social_description =  item.social_media_description %}
        {% else %}
            {% set social_description = globals.site_description  %}
        {% endif %}

        {% if social_image %}
            {% set social_image =  item.social_media_image %}
        {% else %}
            {% set social_image =  '/public/images/social-card-default.png' %}
        {% endif %}

        {% set social_url =  {{ globals.site_url }} %}    #}

{#     {% elseif pageType === 'home' || pageType === 'options' %}

        {% set page_title = globals.site_title %}
        {% set page_suffix =  globals.site_description %}

        {% if social_title %}
            {% set social_title =  item.social_media_title %}
        {% else %}
            {% set social_title = globals.site_title %}
        {% endif %}

        {% if social_description %}
            {% set social_description =  item.social_media_description %}
        {% else %}
            {% set social_description = globals.site_description  %}
        {% endif %}

        {% if social_image %}
            {% set social_image =  item.social_media_image %}
        {% else %}
            {% set social_image =  '/public/images/social-card-default.png' %}
        {% endif %}

        {% set social_url =  globals.site_url %}    #}

    {% else %}

        {% if pageTitle %}
            {% set page_title = pageTitle %}
            {% set page_suffix = globals.site_title %}
        {% else %}
            {% set page_title = globals.site_title %}
            {% set page_suffix = globals.site_description %}
        {% endif %}

        {% if item.social_media_title %}
            {% set social_title = item.social_media_title %}
        {% else %}
            {% set social_title = globals.site_title %}
        {% endif %}

        {% if item.social_media_description %}
            {% set social_description = item.social_media_description %}
        {% else %}
            {% set social_description = globals.site_description  %}
        {% endif %}

        {% if item.social_media_image %}
            {% set social_image = item.social_media_image.sizes.facebook %}
        {% else %}
            {% set social_image =  globals.site_url + '/public/images/social-card-default.png' %}
        {% endif %}

        {% set social_url =  globals.site_url %}

    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% block description %}  {{ page_title|safe }} | {{ globals.site_description|safe }} {% endblock %}">

    <title>{{ page_title|safe }} | {{ page_suffix |safe }}</title>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="{{ social_title|safe }}" />
    <meta property="og:description" content="{{ social_description|safe }}" />
    <meta property="og:image" content="{{ social_image|safe }}" />
    <meta property="og:url" content="{{ social_url|safe }}" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="{{ social_description|safe }}">

    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/images/favicon-96x96.png">
    <link rel="apple-touch-icon" href="/public/images/apple-icon.png">

    <link rel="stylesheet" type="text/css" href="/public/fonts/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/public/bundle.css"/>

    {% block head_extra %}{% endblock %}

    </head>
    <body class="loading menu-closed modal-off sidebar-before before spy {% block body_classes %}{% endblock %} ">

        {% block body %}

            {% include "ie.html" %}
            {% include "header.html" %}

            <main id="content">{% block content %}{% endblock %}</main>

            {% include "footer.html" %}
            {% include "modals.html" %}

            <script src="https://use.typekit.net/uxi1vbd.js"></script>
            <script>try{Typekit.load({ async: true });}catch(e){}</script>

            {% if globals.development %}
                <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
                <script>
                    console.log( '===== JSON CONTEXT =====' );
                    {% if options %}
                    console.log( 'options:' );
                    console.log( {{ options|json|safe }});
                    console.log( '========================' );
                    {% endif %}
                    {% if globals %}
                    console.log( 'globals:' );
                    console.log( {{ globals|json|safe }});
                    console.log( '========================' );
                    {% endif %}
                    {% if item %}
                    console.log( 'item:' );
                    console.log( {{ item|json|safe }});
                    console.log( '========================' );
                    {% endif %}
                    {% if items %}
                    console.log( 'items:' );
                    console.log( {{ items|json|safe }});
                    console.log( '========================' );
                    {% endif %}
                    {% if categories %}
                    console.log( 'categories:' );
                    console.log( {{ categories|json|safe }});
                    console.log( '========================' );
                    {% endif %}
                    {% if news %}
                    console.log( 'news:' );
                    console.log( {{ news|json|safe }});
                    console.log( '========================' );
                    {% endif %}
                    {% if jobs %}
                    console.log( 'jobs:' );
                    console.log( {{ jobs|json|safe }});
                    console.log( '========================' );
                    {% endif %}
                    {% if coaches %}
                    console.log( 'coaches:' );
                    console.log( {{ coaches|json|safe }});
                    console.log( '========================' );
                    {% endif %}
                    {% if staff %}
                    console.log( 'staff:' );
                    console.log( {{ staff|json|safe }});
                    console.log( '========================' );
                    {% endif %}
                    {% if board %}
                    console.log( 'board:' );
                    console.log( {{ board|json|safe }});
                    console.log( '========================' );
                    {% endif %}
                </script>
            {% endif %}

        <script type="text/javascript" src="/public/bundle.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-96413542-1', 'auto');
          ga('send', 'pageview');

        </script>

        {% block scripts_extra %}{% endblock %}

        {% endblock %}

    </body>
    </html>
