<footer id="footer" class="block pt4 pb4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 footer-col">
				<h4>Programs</h4>
				<ul>
					<li><a href="/core-program">Core Program</a></li>
					<li><a href="/college-program">College Program</a></li>
					<li><a href="/make-ri-stronger">Make RI Stronger</a></li>
				</ul>
			</div>
			<div class="col-md-4 footer-col">
				<h4>Info</h4>
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/alumni">Alumni</a></li>
					<li><a href="https://www.facebook.com/LeadershipRI/?fref=ts">Facebook</a></li>
					<li><a href="https://www.linkedin.com/company-beta/2856840/">LinkedIn</a></li>
				</ul>
			</div>
			<div class="col-md-4 footer-col">
				<h4>Contact Us</h4>
				<address class="address">
					Leadership Rhode Island<br>
					1570 Westminster Street<br>
					Providence, RI 02903<br>
					401.273.1574<br>
					info@leadership.org
				</h4>
			</div>						
		</div>
	</div>
</footer>