<div id="menu-1" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3>Leadership Programs</h3>
			<ul>
				<li>
					<a href="/core-program">
						Core Program
					</a>
				</li>
				<li>
					<a href="/college-program">
						College Program
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Make RI Stronger</h3>
			<ul>
				<li>
					<a href="/make-ri-stronger">
						About the Initiative
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Finder Assessment
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Coaching
					</a>
				</li>			
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Community Engagement</h3>
			<ul>
				<li>
					<a href="/events">
						Events
					</a>
				</li>
				<li>
					<a href="/jeffersonian-dinners">
						Jeffersonian Dinners
					</a>
				</li>		
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h4 class="menu-field-call-text">
				Apply to our award winning leadership development programs
			</h4>
			<div class="menu-field-button">
				<a href="/">Apply for Core Program</a>
			</div>
			<div class="menu-field-button">
				<a href="/">Apply for College Program</a>
			</div>
		</div>
	</div>
</div>

<div id="menu-2" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3>About LRI</h3>
			<ul>
				<li>
					<a href="/about">
						Our Mission
					</a>
				</li>
				<li>
					<a href="/about">
						Our Vision
					</a>
				</li>
				<li>
					<a href="/about">
						Our Impact
					</a>
				</li>				
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>People</h3>
			<ul>
				<li>
					<a href="/make-ri-stronger">
						About the Initiative
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Finder Assessment
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Coaching
					</a>
				</li>			
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Community Engagement</h3>
			<ul>
				<li>
					<a href="/events">
						Events
					</a>
				</li>
				<li>
					<a href="/jeffersonian-dinners">
						Jeffersonian Dinners
					</a>
				</li>		
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h4 class="menu-field-call-text">
				Apply to our award winning leadership development programs
			</h4>
			<div class="menu-field-button">
				<a href="/">Apply for Core Program</a>
			</div>
			<div class="menu-field-button">
				<a href="/">Apply for College Program</a>
			</div>
		</div>
	</div>
</div>

<div id="menu-3" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3>Leadership Programs</h3>
			<ul>
				<li>
					<a href="/core-program">
						Core Program
					</a>
				</li>
				<li>
					<a href="/college-program">
						College Program
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Make RI Stronger</h3>
			<ul>
				<li>
					<a href="/make-ri-stronger">
						About the Initiative
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Finder Assessment
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Coaching
					</a>
				</li>			
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Community Engagement</h3>
			<ul>
				<li>
					<a href="/events">
						Events
					</a>
				</li>
				<li>
					<a href="/jeffersonian-dinners">
						Jeffersonian Dinners
					</a>
				</li>		
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h4 class="menu-field-call-text">
				Apply to our award winning leadership development programs
			</h4>
			<div class="menu-field-button">
				<a href="/">Apply for Core Program</a>
			</div>
			<div class="menu-field-button">
				<a href="/">Apply for College Program</a>
			</div>
		</div>
	</div>
</div>

<div id="menu-4" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3>Leadership Programs</h3>
			<ul>
				<li>
					<a href="/core-program">
						Core Program
					</a>
				</li>
				<li>
					<a href="/college-program">
						College Program
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Make RI Stronger</h3>
			<ul>
				<li>
					<a href="/make-ri-stronger">
						About the Initiative
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Finder Assessment
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Coaching
					</a>
				</li>			
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Community Engagement</h3>
			<ul>
				<li>
					<a href="/events">
						Events
					</a>
				</li>
				<li>
					<a href="/jeffersonian-dinners">
						Jeffersonian Dinners
					</a>
				</li>		
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h4 class="menu-field-call-text">
				Apply to our award winning leadership development programs
			</h4>
			<div class="menu-field-button">
				<a href="/">Apply for Core Program</a>
			</div>
			<div class="menu-field-button">
				<a href="/">Apply for College Program</a>
			</div>
		</div>
	</div>
</div>