<div id="menu-1" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3><a href="/leadership-programs">Leadership Programs</a></h3>
			<ul>
				<li>
					<a href="/core-program">
						Core Program
					</a>
				</li>
				<li>
					<a href="/college-program">
						College Program
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-field-group">
			<h3><a href="/make-ri-stronger">Make RI Stronger</a></h3>
			<ul>
				<li>
					<a href="/make-ri-stronger#overview">
						About the Initiative
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger#services">
						Strengths Services
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger#coaches">
						Strengths Coaches
					</a>
				</li>			
			</ul>
		</div>
		<div class="menu-field-group">
			<h3><a href="/community-engagement">Community Engagement</a></h3>
			<ul>
				<li>
					<a href="/events">
						Events
					</a>
				</li>
				<li>
					<a href="/jeffersonian-dinners">
						Jeffersonian Dinners
					</a>
				</li>	
				<li>
					<a href="/publick-occurrences">
						Publick Occurrences
					</a>
				</li>						
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h4 class="menu-field-call-text">
				{{ options.what_we_do_menu_callout }}
			</h4>
			{% if options.what_we_do_menu_callout_links %}
				{% for link in options.what_we_do_menu_callout_links %}
					<div class="menu-field-button">
						<a href="{{link.link_url}}">{{ link.link_text }}</a>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

<div id="menu-2" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3><a href="/about">About LRI</a></h3>
			<ul>
				<li>
					<a href="/about#mission">
						Our Mission
					</a>
				</li>
				<li>
					<a href="/about#vision">
						Our Vision
					</a>
				</li>
				<li>
					<a href="/about#impact">
						Our Impact
					</a>
				</li>	
				<li>
					<a href="/news">
						News
					</a>
				</li>	
				<li>
					<a href="/newsletters">
						Newsletter Archive
					</a>
				</li>						
			</ul>
		</div>
		<div class="menu-field-group">
			<h3><a href="/about#staff">People</a></h3>
			<ul>
				<li>
					<a href="/about#board">
						Board of Governors
					</a>
				</li>
				<li>
					<a href="/about#staff">
						Staff
					</a>
				</li>
				<li>
					<a href="/partners">
						Partners and Sponsors
					</a>
				</li>			
			</ul>
		</div>
		<div class="menu-field-group">
			<h3><a href="/alumni">Alumni</a></h3>
			<ul>
				<li>
					<a href="/alumni">
						About Our Alumni
					</a>
				</li>
				<li>
					<a href="/alumni/alumni-directory">
						Alumni Directory
					</a>
				</li>	
				<li class="">
					<a href="http://community.leadershipri.org/sitelogin">
						Alumni Community Log In
					</a>
				</li>						
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h3 class="">
				<a href="/contact">Contact Us</a>
			</h3>
			<h4 class="address">
				Leadership Rhode Island<br>
				1570 Westminster Street<br>
				Providence, RI 02903<br>
				401.273.1574<br>
				<a href="mailto:office@leadershipri.org" target="_blank">office@leadershipri.org</a>
			</h4>
		</div>
	</div>
</div>

<div id="menu-3" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3><a href="https://lripayment.com/payment#/payment/payment">Support</a></h3>
			<ul>
				<li>
					<a href="https://lripayment.com/payment#/payment/payment" target="_blank">
						Donate
					</a>
				</li>
				<li class="hidden">
					<a href="/donate" target="_blank">
						Recurring Donations
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-field-group">
			<h3><a href="/partners">Sponsor</a></h3>
			<ul>
				<li>
					<a href="/partners">
						Sponsorships
					</a>
				</li>
				<li>
					<a href="/partners">
						Partnerships
					</a>
				</li>
				<li>
					<a href="/opportunities#page-section-3">
						Volunteerism
					</a>
				</li>							
			</ul>
		</div>
		<div class="menu-field-group">
			<h3><a href="/leadership-programs">Join</a></h3>
			<ul>
				<li>
					<a href="/core-program">
						Apply to Core Program
					</a>
				</li>
				<li>
					<a href="/college-program">
						Apply to College Program
					</a>
				</li>	
				<li>
					<a href="/opportunities">
						Opportunities and Jobs
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Bring Strengths to Your Organization
					</a>
				</li>					
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h4 class="menu-field-call-text">
				{{ options.get_involved_menu_callout }}
			</h4>
			{% if options.get_involved_menu_callout_links %}
				{% for link in options.get_involved_menu_callout_links %}
					<div class="menu-field-button">
						<a href="{{link.link_url}}">{{ link.link_text }}</a>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

<div id="menu-4" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3><a href="/alumni">Alumni</a></h3>
			<ul>
				<li>
					<a href="/alumni/pay-dues">
						Pay Dues
					</a>
				</li>
				<li>
					<a class="" href="http://community.leadershipri.org/sitelogin">
						Alumni Community Log In
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-field-group">
			<h3><a href="/alumni/alumni-directory">Directory</a></h3>
			<ul>
				<li>
					<a href="/alumni/alumni-directory">
						Core Program Directory
					</a>
				</li>
				<li>
					<a href="/alumni/alumni-directory?class=clri">
						College Program Directory
					</a>
				</li>		
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h4 class="menu-field-call-text">
				{{ options.alumni_menu_callout }}
			</h4>
			{% if options.alumni_menu_callout_links %}
				{% for link in options.alumni_menu_callout_links %}
					<div class="menu-field-button">
						<a href="{{link.link_url}}">{{ link.link_text }}</a>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>