<div id="menu-1" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3>Leadership Programs</h3>
			<ul>
				<li>
					<a href="/core-program">
						Core Program
					</a>
				</li>
				<li>
					<a href="/college-program">
						College Program
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Make RI Stronger</h3>
			<ul>
				<li>
					<a href="/make-ri-stronger">
						About the Initiative
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Finder Assessment
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Coaching
					</a>
				</li>			
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Community Engagement</h3>
			<ul>
				<li>
					<a href="/events">
						Events
					</a>
				</li>
				<li>
					<a href="/jeffersonian-dinners">
						Jeffersonian Dinners
					</a>
				</li>		
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h4 class="menu-field-call-text">
				Apply to our award winning leadership development programs
			</h4>
			<div class="menu-field-button">
				<a href="/">Apply for Core Program</a>
			</div>
			<div class="menu-field-button">
				<a href="/">Apply for College Program</a>
			</div>
		</div>
	</div>
</div>

<div id="menu-2" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3>About LRI</h3>
			<ul>
				<li>
					<a href="/about">
						Our Mission
					</a>
				</li>
				<li>
					<a href="/about">
						Our Vision
					</a>
				</li>
				<li>
					<a href="/about">
						Our Impact
					</a>
				</li>				
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>People</h3>
			<ul>
				<li>
					<a href="/make-ri-stronger">
						About the Initiative
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Finder Assessment
					</a>
				</li>
				<li>
					<a href="/make-ri-stronger">
						Strengths Coaching
					</a>
				</li>			
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Alumni</h3>
			<ul>
				<li>
					<a href="/alumni">
						About Our Alumni
					</a>
				</li>
				<li>
					<a href="/alumni-directory">
						Alumni Directory
					</a>
				</li>	
				<li>
					<a href="http://salesforce.com">
						Alumni Log In
					</a>
				</li>						
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h3 class="">
				Contact Us
			</h3>
			<h4 class="address">
				Leadership Rhode Island<br>
				1570 Westminster Street<br>
				Providence, RI 02903<br>
				401.273.1574<br>
				info@leadership.org
			</h4>
		</div>
	</div>
</div>

<div id="menu-3" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3>Support</h3>
			<ul>
				<li>
					<a href="/donate">
						Donate
					</a>
				</li>
				<li>
					<a href="/donate">
						Recurring Donations
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Sponsor</h3>
			<ul>
				<li>
					<a href="/partners-and-sponsors">
						Sponsorships
					</a>
				</li>
				<li>
					<a href="/partners-and-sponsors">
						Partnerships
					</a>
				</li>
				<li>
					<a href="/partners-and-sponsors">
						Employee Sponsorship
					</a>
				</li>	
				<li>
					<a href="/partners-and-sponsors">
						Volunteerism
					</a>
				</li>							
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Community Engagement</h3>
			<ul>
				<li>
					<a href="/events">
						Events
					</a>
				</li>
				<li>
					<a href="/jeffersonian-dinners">
						Jeffersonian Dinners
					</a>
				</li>		
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h4 class="menu-field-call-text">
				help people who otherwise wouldn't be able to enroll in our programs
			</h4>
			<div class="menu-field-button">
				<a href="/donate">Support Tuition Assistance</a>
			</div>
		</div>
	</div>
</div>

<div id="menu-4" class="menu-field closed">
	<div class="menu-field-left">
		<div class="menu-field-group">
			<h3>Members</h3>
			<ul>
				<li>
					<a href="/donate">
						Pay Dues
					</a>
				</li>
				<li>
					<a href="http://salesforce.com">
						Alumni Community Log In
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-field-group">
			<h3>Directory</h3>
			<ul>
				<li>
					<a href="/alumni-directory">
						Core Program Directory
					</a>
				</li>
				<li>
					<a href="/alumni-directory">
						College Program Directory
					</a>
				</li>		
			</ul>
		</div>			
	</div>
	<div class="menu-field-right">
		<div class="menu-field-call">
			<h4 class="menu-field-call-text">
				Learn more about LRI through one of our program graduates
			</h4>
			<div class="menu-field-button">
				<a href="/meet-an-alumnus">Meet an Alumnus</a>
			</div>
		</div>
	</div>
</div>