<div id="nav">
	<nav id="nav-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12" id="nav-top-menu">
					<ul class="nav-top-items">
						<li><a href="/news" class="news-link">News</a></li>
						<li><a href="/news" class="events-link">Events</a></li>
						<li><a href="/news" class="contact-link">Contact</a></li>
						<li><a href="/news" class="donate-link">Donate</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<nav id="nav-main">
		<div class="container-fluid">
			<div class="row">
				<div class="logo col-sm-3 col-xs-6">
					<a href="/">
						{% include 'logo.svg' %}
					</a>
				</div>
				<div class="col-sm-6 offset-col-3 col-xs-6" id="nav-menu">
					<ul class="nav-items">
						<li><a href="#menu-1">What We do <span class="icon" data-icon="”"></a></li>
						<li><a href="#menu-2">Who We Are <span class="icon" data-icon="”"></a></li>
						<li><a href="#menu-3">Get Involved <span class="icon" data-icon="”"></a></li>
						<li><a href="#menu-4">Alumni <span class="icon" data-icon="”"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</span>

<div id="menu-1" class="menu-field">
	
</div>

<div id="mobile-nav">
	<ul class="mobile-nav-items">	
	</ul>
</div>
<div class="hamburger menu-toggle">
	<span class="icon" data-icon="Ë"></span>
</div>