<div id="nav">
	<nav id="nav-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12" id="nav-top-menu">
					<ul class="nav-top-items">
						<li><a href="/news" class="news-link">News</a></li>
						<li><a href="/events" class="events-link">Events</a></li>
						<li><a href="/contact" class="contact-link">Contact</a></li>
						<li><a href="http://community.leadershipri.org" class="contact-link">Alumni Log In</a></li>
						<li><a href="/news" class="donate-link hidden">Donate</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<nav id="nav-main" class="static">
		<div class="container-fluid">
			<div class="row">
				<div class="logo col-sm-3 col-xs-6">
					<a href="/">
						{% include 'logo.svg' %}
					</a>
				</div>
				<div id="nav-menu">
					<ul class="nav-items">
						<li><a href="#menu-1" class="menu-field-toggle menu-field-link inactive" data-menu="1">What We Do <span class="icon" data-icon="”"></span></a></li>
						<li><a href="#menu-2" class="menu-field-toggle menu-field-link inactive" data-menu="2">Who We Are <span class="icon" data-icon="”"></span></a></li>
						<li><a href="#menu-3" class="menu-field-toggle menu-field-link inactive" data-menu="3">Get Involved <span class="icon" data-icon="”"></span></a></li>
						<li><a href="#menu-4" class="menu-field-toggle menu-field-link inactive" data-menu="4">Alumni <span class="icon" data-icon="”"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>

{% include "menus.html" %}	

<div class="hamburger menu-toggle">
	Menu <span class="icon" data-icon=""></span>
</div>

<div id="mobile-nav">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 mobile-nav-col">
				<a href="/about"><h4>About LRI</h4></a>
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/news">News</a></li>
					<li><a href="https://www.facebook.com/LeadershipRI/?fref=ts">Facebook</a></li>
					<li><a href="https://www.linkedin.com/company-beta/2856840/">LinkedIn</a></li>
				</ul>
			</div>			
			<div class="col-xs-12 mobile-nav-col">
				<a href="/leadership-programs"><h4>Programs</h4></a>
				<ul>
					<li><a href="/core-program">Core Program</a></li>
					<li><a href="/college-program">College Program</a></li>
					<li><a href="/make-ri-stronger">Make RI Stronger</a></li>
				</ul>
			</div>
			<div class="col-xs-12 mobile-nav-col">
				<a href="/community-engagement"><h4>Community Engagement</h4></a>
				<ul>
					<li><a href="/events">Events</a></li>
					<li><a href="/jeffersonian-dinners">Jeffersonian Dinners</a></li>
					<li><a href="/publick-occurences">Publick Occurences</a></li>
				</ul>
			</div>
			<div class="col-xs-12 mobile-nav-col">
				<a href="/alumni"><h4>Alumni</h4></a>
				<ul>
					<li><a href="/alumni">About Our Alumni</a></li>
					<li><a href="/alumni/alumni-directory">Alumni Directory</a></li>
				</ul>
			</div>
			<div class="col-xs-12 mobile-nav-col">
				<h4>Contact Us</h4>
				<address class="address">
					Leadership Rhode Island<br>
					1570 Westminster Street<br>
					Providence, RI 02903<br>
					401.273.1574<br>
					<a href="mailto:office@leadershipri.org" target="_blank">office@leadershipri.org</a>
				</address>
			</div>						
		</div>
	</div>
</div>