{% if item.stories %} 
	{% set stories = item.stories %}
	{% elseif item.acf.stories %}
		{% set stories = item.acf.stories %}
		{% endif %}


		{% if stories %}
			<section class="block bg-white padded" id="stories">
				<div class="container">
					{% for story in stories %}
						<div class="story story-{{ story.story_type}}" id="story-{{ loop.index }}">
							{% if story.story_type == 'full' %}
								<div class="row">
									{% if story.story_image %}
										<div class="col-xs-12 story-image">
											<img src="{{ story.story_image.sizes.projectslideshow }}" />
										</div>
									{% endif %}
									{% if story.story_text %}
										<div class="col-xs-12 story-text story-text-full">
											<p class="story-text-{{ story.story_text_size }}">
												{{ story.story_text|safe }}
											</p>
											{% if story.story_credit && story.story_text_size === 'large' %}
												<p class="story-text-credit">
													{{ story.story_credit|safe }}
												</p>
											{% endif %}		
										</div>
									{% endif %}
								</div>
							{% endif %}

							{% if story.story_type == 'image-left' %}
								<div class="row">
									{% if story.story_image %}
										<div class="col-sm-6 story-image story-image-left">
											<img src="{{ story.story_image.sizes.large }}" />
										</div>
									{% endif %}
									{% if story.story_text %}
										<div class="col-sm-6 story-text story-text-left {% if story.story_image === false %}offset-sm-6{% endif %}">
											<p class="story-text-{{ story.story_text_size }}">
												{{ story.story_text|safe }}
											</p>
											{% if story.story_credit && story.story_text_size === 'large' %}
												<p class="story-text-credit">
													{{ story.story_credit|safe }}
												</p>
											{% endif %}									
										</div>
									{% endif %}
								</div>
							{% endif %}

							{% if story.story_type == 'image-right' %}
								<div class="row">
									{% if story.story_text %}
										<div class="col-sm-6 col-md-5 story-text story-text-right ">
											<p class="story-text-{{ story.story_text_size }}">
												{{ story.story_text|safe }}
											</p>
											{% if story.story_credit && story.story_text_size === 'large' %}
												<p class="story-text-credit">
													{{ story.story_credit|safe }}
												</p>
											{% endif %}
										</div>
									{% endif %}
									{% if story.story_image %}
										<div class="col-sm-6 offset-md-1 {% if story.story_text === false %}offset-sm-6{% endif %}">
											<div class="story-image story-image-right">
												<img src="{{ story.story_image.sizes.large }}" />
											</div>
										</div>
									{% endif %}
								</div>
							{% endif %}	

							{% if story.story_type == 'three' %}
								<div class="row mb1">
									{% for image in story.story_images %}
										<div class="col-sm-4 story-image story-image-three">
											<img src="{{ image.sizes.story }}" />
										</div>
									{% endfor %}
								</div>
								<div class="row">
									{% if story.story_text %}
										<div class="col-xs-12 story-text story-text-three">
											<p class="story-text-{{ story.story_text_size }}">
												{{ story.story_text|safe }}
											</p>
											{% if story.story_credit && story.story_text_size === 'large' %}
												<p class="story-text-credit">
													{{ story.story_credit|safe }}
												</p>
											{% endif %}									
										</div>
									{% endif %}
								</div>
							{% endif %}	

							{% if story.story_type == 'two' %}
								<div class="row mb1">
									{% for image in story.story_images_two %}
										<div class="col-xs-6 story-image story-image-two">
											<img src="{{ image.sizes.story2 }}" />
										</div>
									{% endfor %}
								</div>
								<div class="row">
									{% if story.story_text %}
										<div class="col-xs-12 story-text story-text-two">
											<p class="story-text-{{ story.story_text_size }}">
												{{ story.story_text|safe }}
											</p>
											{% if story.story_credit && story.story_text_size === 'large' %}
												<p class="story-text-credit">
													{{ story.story_credit|safe }}
												</p>
											{% endif %}									
										</div>
									{% endif %}
								</div>
							{% endif %}								

						</div>
					{% endfor %}
				</div>
			</section>
		{% endif %}