
<div class="page-body-section" id="directory">
  <div class="directory-filters">
    <ul>
      <li class="brand h4">
        <span id="d-count"></span> 
        Alumni Listed
      </li>
      <li class="d-options" id="select-type">
        <select class="d-select d-select-class" id="d-class-type">
          <option value="lri">LRI</option>
          <option value="clri">CLRI</option>
          <option value="lcf">LCF</option>
        </select>
      </li>
      <li class="d-options d-options-year active" id="d-options-lri">
        <select class="d-select d-select-year active" id="d-class-year-lri">
          {% set lri_span = createArraySpan( item.acf.lri_start, item.acf.lri_end ) %}
            {% if lri_span %}
              {% for year in lri_span|reverse %}
                <option value="{{ year }}" {% if loop.first %}selected{% endif %}>{{ year }}</option>
              {% endfor %}
            {% endif %}
          </select>
        </li> 
        <li class="d-options d-options-year" id="d-options-clri">
          <select class="d-select d-select-year" id="d-class-year-clri">
          {% set clri_span = createArraySpan( item.acf.clri_start, item.acf.clri_end ) %}
            {% if clri_span %}
              {% for year in clri_span|reverse %}
                <option value="{{ year }}" {% if loop.first %}selected{% endif %}>{{ year }}</option>
              {% endfor %}
            {% endif %}
          </select>
        </li> 
        <li class="d-options d-options-year" id="d-options-lcf">
          <select class="d-select d-select-year" id="d-class-year-lcf">
            <option value="{{ item.acf.lcf_year }}" selected>{{ item.acf.lcf_year }}</option>
          </select>
        </li>             
      </ul>
    </div>
    <div class="directory-content">
      <table class="table" id="directory-table">
        <thead>
          <tr class="d-header">
            <th>Name</th>
            <th>Year</th>
            <th>Organization</th>
            <th>Job Title</th>
          </tr>
        </thead>
        <tbody id="directory_container">
        </tbody>
      </table>
      <div class="loader-icon active"></div>
      <div class="d-error-message hidden">
        <h4>Oops! There were no results in the directory for that selection. Try a different combination of Class type year.</h4>
      </div>
    </div>   
  </div>

