
<div class="page-body-section" id="directory">
  <div class="directory-filters">
    <h4 class="brand">Filters</h4>
  </div>
  <div class="directory-content">
    <table class="table" id="directory-table">
      <thead>
        <tr class="d-header">
          <th>Name</th>
          <th>Class Year</th>
          <th>Organization</th>
          <th>Job Title</th>
        </tr>
      </thead>
      <tbody id="directory_container">
        <tr class="d-item">
          <td class="d-name">Mike Ritz</td>
          <td class="d-year">2007</td>
          <td class="d-organization">Leadership Rhode Island</td>
          <td class="dr-title">Executive Director</td>
        </tr>
      </tbody>
    </table>
  </div>   
</div>

