<section class="block padded bg-ultra-light spy-target" id="awards">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="mb2">Selected Awards</h2>
			</div>
		</div>
		<div class="awards mb1 closed">
			{% for award in options.awards %}
				<div class="award clearfix">
					<div class="col-sm-2 col-xs-3 award-year">
						<h4 class="tracked tight">
							{{ award.award_year }} 
						</h4>
					</div>
					<div class="col-sm-5 col-xs-9 award-title">
						<h4 class=" tight">
							{{ award.award_title }}
						</h4>
					</div>
					<div class="col-sm-5 award-project">
						<h4 class="tight">
							{% if award.associated_project.post_title %}
								<a href="{{ award.associated_project.guid }}">
									{{ award.associated_project.post_title }}
								</a>
							{% else %}
								{% if award.associated_project_manual %}
									{{ award.associated_project_manual }}
								{% endif %}		
							{% endif %}							
						</h4>
					</a>
				</div>			
			</div>
		{% endfor %}
	</div>
	<a href="#" class="display-block awards-toggle button minimal">Show More Awards +</a>
</div>
</section>