<section class="block bg-ultra-light padded-more spy-target" id="services">
	<div class="container">
		<div class="row mb3">
			<div class="col-md-7">
				<h2 class="">
					{{ options.services_statement }}
				</h2>
			</div>
		</div>
		<div class="row">
			{% for service in options.services %}
				<div class="col-md-3 col-sm-6 service-group mb2" >
					<h4 class="yellow-darker tracked uppercase mb1">
						{{ service.service_title }}
					</h4>
					<ul>
						{% for sub_service in service.sub_services %}
							<li class="medium-dark">{{ sub_service.sub_service_title }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
		</div>
	</div>
</section>