<nav id="about-nav" class="static">
	<div class="container">
		<div class="row">
			<ul class="col-xs-12">
				<li><a href="#profile" class="spy-link">Profile</a></li>
				<li><a href="#people" class="spy-link">People</a></li>
				<li><a href="#services" class="spy-link">Services</a></li>
				<li><a href="#clients" class="spy-link">Clients</a></li>
				<li><a href="#history" class="spy-link">History</a></li>
				<li><a href="#awards" class="spy-link">Awards</a></li>
				<li><a href="#careers" class="spy-link">Careers</a></li>
			</ul>
		</div>
	</div>
</nav>