<ul>
	<li><a href="#mission" class="sidebar-jump">{{ item.acf.mission_title }}</a></li>
	<li><a href="#vision" class="sidebar-jump">{{ item.acf.vision_title }}</a></li>
	<li><a href="#beliefs" class="sidebar-jump">{{ item.acf.beliefs_title }}</a></li>
	<li><a href="#impact" class="sidebar-jump">{{ item.acf.impact_title }}</a></li>
	<li><a href="#history" class="sidebar-jump">{{ item.acf.history_title }}</a></li>
	<li><a href="#board" class="sidebar-jump">{{ item.acf.board_title }}</a></li>
	<li><a href="#staff" class="sidebar-jump">{{ item.acf.staff_title }}</a></li>
	<li><a href="#partners" class="sidebar-jump">{{ item.acf.partners_title }}</a></li>
	<li><a href="#opportunities" class="sidebar-jump">{{ item.acf.opportunities_title }}</a></li>
	{% if item.acf.sidebar_additional_links %}
		{% include "../page/page-sidebar-additional-links.html" %}
	{% endif %}					
</ul>
