<section class="block padded spy-target bg-yellow" id="clients">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-lg-7 col-xl-6 mb4">
				<h2>{{ options.clients_statement }}</h2>
			</div>
		</div>
		<div class="row mb1">
			<div class="col-sm-8 offset-sm-2 col-md-12 offset-md-0">
				<div class="clients-testimonials slick slick-default slick-clients-testimonials">
					{% if options.client_testimonials %}
						{% for testimonial in options.client_testimonials %}
							<div class="testimonial testimonial-slide">
								<div class="testimonial-project col-xs-9 col-sm-12 offset-sm-0 col-md-5 offset-md-0 col-xl-7 mb1">
									<a href="{{ testimonial.associated_project.link }}">
										{% if testimonial.override_image %}
											<img src="{{ testimonial.override_image.sizes.testimonial }}" />
										{% else %}
											<img src="{{ featured_image( testimonial.associated_project, 'testimonial' ) }}" />
										{% endif %}
									</a>
								</div>
								<div class="testimonial-body col-xs-11 col-sm-12 offset-sm-0 col-md-7 offset-md-0 col-xl-4 offset-xl-0">
									<p class="italic medium-dark testimonial-quote">"{{ testimonial.quote }}"</h3>
										{% if testimonial.name %}<h4 class="medium-dark tight mb2">{{ testimonial.name }}</h4>{% endif %}
										<a href="{{ testimonial.associated_project.link }}" class="button">See This Project</a>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>		
		</div>
	</section>