<section class="block padded bg-white spy-target" id="history">
	<div class="container" id="timeline">
		{% set i = 1 %}
		{% for time in options.timeline %}
			{%for event in time.events %}
				<div class="event">
					<h5 class="bold tracked uppercase yellow-darker event-year">
						{% if time.year %}
							{{ time.year }}
						{% endif %}
					</h5>
					{% if event.event_description %}
						<h4 class="tight medium-dark">
							{{ event.event_description }}
						</h4>
					{% endif %}
					{% if event.event_image  %}
						<img src="{{ event.event_image.sizes.person }}" />
					{% endif %}
				</div>
				{% set i = i+1 %}
			{% endfor %}
		{% endfor %}
	</div>
</section>