<section class="block spy-target" id="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				{% include "page-sidebar-mobile.html" %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 col-lg-8 page-content-body">
				{% if item.acf.featured_content %}
					{% include "page-featured-content.html" %}
				{% endif %}
				<div class="page-body-sections">
					{# custom page content #}	
					{% if pageTitle === 'About' %}
						{% include "../about/about-content.html" %}
					{% elseif pageTitle === 'Alumni Directory' %}
						{% include "../alumni-directory/alumni-directory-content.html" %}
					{% elseif pageTitle === 'Make RI Stronger' %}
						{% include "../make-ri-stronger/make-ri-stronger-content.html" %}
					{% elseif pageTitle === 'Contact' %}
						{% include "../contact/contact-content.html" %}						
					{% else %}
						{# default page content #}
						{% if item.acf.page_body_sections %}
							{% for section in item.acf.page_body_sections %}
								<div class="page-body-section spy-target" id="page-section-{{ loop.index}}">
									<div class="page-body-section-title">
										<h3 class="bold">
											{{ section.section_title|safe }}
										</h3>
									</div>
									<div class="page-body-section-body">
										{% if section.section_body %} 
											<div class="wysiwyg section-body-wyswig">
												{{ section.section_body|safe }}
											</div>
										{% endif %}
										{% if section.section_collapsible_list %} 
											<div data-accordion-group>
												{% for li in section.section_collapsible_list %}
													<div class="accordion" data-accordion>
														<div class="accordian-title" data-control>
															<h4>
																{{ li.list_item_label|safe }}
																<span class="icon" data-icon="”"></span>
															</h4>
														</div>
														<div class="accordian-body" data-content>
															<div class="wysiwyg">
																{{ li.list_item_body|safe }}
															</div>
														</div>
													</div>
												{% endfor %}
											</div>
										{% endif %}
										{% if section.section_statistics_slider %}
											<div class="statistics-slider-body">
												<div class="slick-statistics slick-default">
													{% for statistic in section.section_statistics_slider %}
														<div class="slide slide-impact impact-item">
															<h2 class="impact-item-number">
																{{ statistic.statistic_heading|safe }}
															</h2>
															<h4 class="serif" class="impact-item-label">
																{{ statistic.statistic_description|safe }}
															</h4>							
														</div>
													{% endfor %}
												</div>
											</div>
										{% endif %}

										{% if section.show_section_logo_slider %}
											<div class="logo-slider-body">
												<div class="slick-clients slick-default">
													{% for client in section.section_logo_slider %}
														{% if loop.index0 === 0 || loop.index0 % 6 === 0 %}
															<div class="slide slide-clients">							
															{% endif %}
															<a href="{{ client.client_website }}" target="_blank" class="client-item">
																<div class="client-image" style="background-image: url('{{ client.client_logo.sizes.xs }}')">
																</div>
																{# <img src="{{ client.client_logo.sizes.xs }}"> #}
															</a>
															{% if loop.index0 % 6 === 5 || loop.last %}
															</div>
														{% endif %}
													{% endfor %}
												</div>
											</div>	
										{% endif %}

									</div>
									{% if section.section_links %}
										<div class="page-body-section-links">
											{% for link in section.section_links %}
												<div class="button section-link-button">
													<a href="{{ link.link_url }}" class="" target="_blank">
														{{ link.link_text }}
													</a>
												</div>
											{% endfor %}
										</div>
									{% endif %}
								</div>
							{% endfor %}
						{% endif %}
					{% endif %}
					{% if pageTitle === 'Alumni' %}
						{% include "../alumni/alumni-news.html" %}
					{% endif %}
				</div>				
			</div>
			<div class="col-md-3 col-lg-4 page-content-sidebar">
				{% include "page-sidebar.html" %}	
			</div>
		</div>
	</div>
</section>
