<section class="block" id="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-lg-7 page-content-body">
				{% if item.acf.featured_content %}
					{% include "page-featured-content.html" %}
				{% endif %}
				<div class="page-body-sections">
					{% if item.acf.page_body_sections %}
						{% for section in item.acf.page_body_sections %}
							<div class="page-body-section" id="page-section-{{ loop.index}}">
								<div class="page-body-section-title">
									<h3 class="bold">
										{{ section.section_title|safe }}
									</h3>
								</div>
								<div class="page-body-section-body">
									<div class="wysiwyg">
										{{ section.section_body|safe }}
									</div>
								</div>
								{% if section.section_links %}
									<div class="page-body-section-links">
										{% for link in section.section_links %}
											<a href="{{ link.link_url }}" class="button section-link-button" target="_blank">
												{{ link.link_text }}
											</a>
										{% endfor %}
									</div>
								{% endif %}
							</div>
						{% endfor %}
					{% endif %}
				</div>				
			</div>
			<div class="col-md-3 col-lg-3 offset-lg-2 page-content-sidebar">
				{% include "page-sidebar.html" %}	
			</div>
		</div>
	</div>
</section>
