<nav class="page-sidebar static" id="page-sidebar">
	{% if item.acf.sidebar_button %}
		<div class="button page-sidebar-button">
			<a href="{{ item.acf.sidebar_button_link }}" class="">
				{{ item.acf.sidebar_button_text }}
			</a>
		</div>
	{% endif %}
	<div class="page-sidebar-outline">
		<h4 class="page-sidebar-title">
			{{ item.title.rendered|safe }}
		</h4>
		{% if pageTitle === 'About' %}
			{% include "../about/about-sidebar.html" %}
		{% elseif pageTitle === 'Make RI Stronger' %}
			{% include "../make-ri-stronger/make-ri-stronger-sidebar.html" %}
		{% else %}		
			{% if item.acf.page_body_sections || item.acf.sidebar_additional_links %}
				<ul>
					{% if item.acf.page_body_sections %}
						{% for section in item.acf.page_body_sections %}
							<li>
								<a href="#page-section-{{ loop.index }}" class="spy-link sidebar-jump">
									{{ section.section_title|safe }}
								</a>
							</li>
						{% endfor %}
					{% endif %}
					{% if item.acf.sidebar_additional_links %}
						{% include "../page/page-sidebar-additional-links.html" %}
					{% endif %}		
				</ul>
			{% endif %}
		{% endif %}		
	</div>
	{% if item.acf.page_contact %}
		<div class="page-sidebar-contact">
			<h4 class="page-sidebar-title">
				Contact
			</h4>		
			<h5 class="page-sidebar-contact-name">
				{{ item.acf.page_contact.post_title|safe }}
			</h5>
			<h5 class="page-sidebar-contact-title">
				Title
				{# {{ item.acf.page_contact.post_title|safe }} #}
			</h5>
			<h5 class="page-sidebar-contact-email brand">
				email@domain.com
				{# {{ item.acf.page_contact.post_title|safe }} #}
			</h5>
			<h5 class="page-sidebar-contact-phone brand">
				401.555.1234
				{# {{ item.acf.page_contact.post_title|safe }} #}
			</h5>						
		</div>
	{% endif %}
</nav>