<section class="block" id="page-breadcrumbs">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<ul class="page-breadcrumbs-list">
					<li>
						<a href="/" >Home</a>
						<span class="breadcrumb-slash">/</span>
					</li>
					{% if item.parent %}
						<li>
							<a href="{{ item._embedded.up[0].link }}">{{ item._embedded.up[0].title.rendered|safe }}</a>
							<span class="breadcrumb-slash">/</span>
						</li>
					{% endif %}
					<li>
						<span class="breadcrumb-current">{{ item.title.rendered|safe }}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>