<div id="page-featured-content">
	<div class="page-feature page-feature-{{item.acf.featured_content[0].acf_fc_layout}}">
		{% if item.acf.featured_content[0].acf_fc_layout === 'video' %}
			<div class="page-feature-video-embed">
				{% if item.acf.featured_content[0].vimeo_or_youtube === 'vimeo' %}
					<iframe src="https://player.vimeo.com/video/{{ item.acf.featured_content[0].vimeo_id|safe }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				{% endif %}
				{% if item.acf.featured_content[0].vimeo_or_youtube === 'youtube' %}
					<iframe src="https://www.youtube.com/embed/{{ item.acf.featured_content[0].youtube_id|safe }}" frameborder="0" allowfullscreen></iframe>
				{% endif %}				
			</div>
		{% endif %}
		{% if item.acf.featured_content[0].acf_fc_layout === 'announcement' %}
			<div class="page-feature-announcement-container">
				{% if item.acf.featured_content[0].announcement_link %}
					<a href="{{ item.acf.featured_content[0].announcement_link }}" target="_blank">
					{% endif %}
					<h3>{{ item.acf.featured_content[0].announcement_title|safe }}</h3>
					<h4>{{ item.acf.featured_content[0].announcement_text|safe }}</h4>
					{% if item.acf.featured_content[0].announcement_link %}
					</a>
				{% endif %}				
			</div>
		{% endif %}
		{% if item.acf.featured_content[0].acf_fc_layout === 'news' %}
			<div class="page-feature-news-container">
				<a href="{{ item.acf.featured_content[0].news_item.guid|safe }}" target="_blank">
					<h5>Featured News</h5>
					<h3>{{ item.acf.featured_content[0].news_item.post_title|safe }}</h3>
					{% if item.acf.featured_content[0].additional_text %}
						<h4>{{item.acf.featured_content[0].additional_text|safe }}</h4>
					{% endif %}
				</a>
			</div>
		{% endif %}	
	</div>	
</div>