<nav class="page-sidebar" id="page-sidebar">
	{% if item.acf.sidebar_button %}
		<a href="{{ item.acf.sidebar_button_link }}" class="button page-sidebar-button">
			{{ item.acf.sidebar_button_text }}
		</a>
	{% endif %}
	<div class="page-sidebar-outline">
		<h4 class="page-sidebar-title">
			{{ item.title.rendered|safe }}
		</h4>
		{% if item.acf.page_body_sections || item.acf.sidebar_additional_links %}
			<ul>
				{% if item.acf.page_body_sections %}
					{% for section in item.acf.page_body_sections %}
						<li>
							<a href="#page-section-{{ loop.index }}">
								{{ section.section_title|safe }}
							</a>
						</li>
					{% endfor %}
				{% endif %}
				{% if item.acf.sidebar_additional_links %}
					{% for link in item.acf.sidebar_additional_links %}
						<li class="additional-link">
							<a href="{{ link.additional_link_url }}">
								{{ link.additional_link_text|safe }}
							</a>
						</li>
					{% endfor %}				
				{% endif %}
			</ul>
		{% endif %}
	</div>
</nav>