
/* about page */

.page-about{

	.slick-impact{
		width: 100%;
	}

	@media screen and (max-width: $sm) {

		.impact-slide-headshot-container{
			display: none;
		}

		.slick-impact{
			h4,h5{
				text-align: center;
			}		
		}

		.impact-slide-text{
			padding: 0;
			width: 86%;
		}

		.slick-next{
			&:after{
				font-size: 60px;
			}
		}

	}

}