$d-row-height: 58px;

#directory{

	min-height: 1000px;

	table{
		width: 100%;
		text-align: left;
		border-collapse: collapse;
	}

	th,td{
		margin: 0;
		border: 0;
		outline: 0;	
		padding: 10px;	

		@media screen and (max-width: $sm) {
			padding: 2px;
			font-size: 12px;
			white-space: normal;
			word-wrap: break-word;
		}		
	}

	th{
		@extend .bold;
		border-top: 1px solid $medium;
		border-bottom: 1px solid $medium;
	}

	tr{
		height: $d-row-height;

		&.d-header{
			height: $d-row-height * 1.25;
		}
	}

	.d-name{
		width: 18%;
	}

	.d-year{
		width: 12%;
	}

	.d-organization{
		width: 35%;
	}

	.d-title{
		width: 35%;
	}	


	tbody{

		tr:nth-child(odd){
			background: $ultra-light;
		}
	}
}

.directory-filters{
	margin-bottom: 20px;
	
	li{
		margin-right: 30px;
		display: inline-block;
		//height: 30px;

		&.d-options{
			// border: 1px solid #ccc;
			// width: 120px;
			// border-radius: 3px;
			// overflow: hidden;
			// background: #fafafa;
			// padding: 2px;	
		}

	}

	.d-options-year{
		display: none;

		&.active{
			display: inline-block;
		}
	}

	select{
		// width: 100%;
		// border: none;
		// box-shadow: none;
		// background: transparent;
		// background-image: none;
		// -webkit-appearance: none;
		// color: $brand;
		// font-size: 16px;

		font-size: 16px;
		width: 100px;
	}

}

.d-error-message{
	margin-top: 30px;
	padding: 15px 10px 10px 10px;
	background: lighten(red,43%);
	color: red;
	text-align: center;
	font-family: $font-medium;
}


