$d-row-height: 55px;

#directory{

	table{
		width: 100%;
		text-align: left;
		border-collapse: collapse;
	}

	th,td{
		margin: 0;
		border: 0;
		outline: 0;	
		padding: 7px;			
	}

	th{
		@extend .bold;
		border-top: 1px solid $medium;
		border-bottom: 1px solid $medium;
	}

	tr{
		height: $d-row-height;

		&.d-header{
			height: $d-row-height * 1.25;
		}
	}

	tbody{

		tr:nth-child(odd){
			background: $ultra-light;
		}
	}
}