
.page-contact{
	#page-sidebar-mobile{
		width: 100%;
		margin-left: 0;
	}
}


.contact-item{
	padding: 0px 0 50px 0;
	
	&:before{
		width: calc(100% - 40px);
		margin: 0 auto 25px auto;
		height: 1px;
		display: block;
		content: '';
		border-top: 2px solid $yellow;
	}
	
	h4{
		line-height: 1.1;
	}

	@media screen and (max-width: $sm) {
		padding: 0px 0 15px 0;		

		&:before{
			width: calc(100% - 20px);
			margin: 0 auto 10px auto;			
		}

	}
}
