
.page-contact{
	#page-sidebar-mobile{
		width: 100%;
		margin-left: 0;
	}

	address{
		line-height: 1.7;
	}
}




.contact-item{
	padding: 0px 0 50px 0;
	//outline: 1px solid black;
	
	&:before{
		width: calc(100% - 20px);
		margin: 0 auto 25px auto;
		height: 1px;
		display: block;
		content: '';
		border-top: 2px solid $yellow;
	}
	
	h4{
		line-height: 1.1;
	}

	@media screen and (max-width: $sm) {
		padding: 0px 0 15px 0;		

		&:before{
			width: calc(100% - 20px);
			margin: 0 auto 10px auto;			
		}

	}

	.contact-item-phone{
		text-align: right;
		line-height: 1.1;
		font-size: 16px;

		@media screen and (max-width: $sm) {
			font-size: 14px;
			text-align: left;
		}
	}
}

.contact-column{
	padding-left: 10px;
	padding-right: 10px;
	//outline: 1px solid black;
}
