
.event-tile{
	margin-bottom: 40px;

	a{
		display: block;
		width: 85%;
		height: 400px;
		border-bottom: 3px solid transparent;

		&:hover{

			.event-text{
				border-bottom: 3px solid $yellow;
			}
		}

		@media screen and (max-width: $lg) {
			width: 90%;
			height: 350px;
		}

		@media screen and (max-width: $md) {
			height: 300px;
		}

		@media screen and (max-width: $sm) {
			height: 250px;
		}

	}

	img{
		display: block;
	}

	.event-text{
		padding: 15px 0;
		margin-top: 0;
		width: 87%;
		border-bottom: 3px solid transparent;
	}

	.event-date{
		font-family: $font-medium;
		@extend .tracked;
		@extend .uppercase;
		font-size: 16px;
		margin-bottom: 0;

		@media screen and (max-width: $md) {
			font-size: 14px;
		}

		@media screen and (max-width: $sm) {
			font-size: 12px;
		}
	}

	.event-title{
		@extend .bold;
		line-height: 1.2;
		margin-bottom: 0;
		margin-top: 0;
		@extend .h4;
		color: $brand;
	}
}

