
.event-tile{
	margin-bottom: 40px;

	a{
		display: block;
		
		&:hover{
			.event-text{
				border-bottom: 3px solid $yellow;
			}
		}
	}

	img{
		display: block;
	}

	.event-text{
		background: $ultra-light;
		padding: 15px;
		border-bottom: 3px solid $ultra-light;
		height: 150px;
		margin-top: 0;
		@include transition(border, .125s);
	}

	h4{
		@extend .bold;
		line-height: 1.1;
		margin-bottom: 0;
		margin-top: 0;
	}
}