
/* footer */

#footer{
	background: $light-blue;

	background: $brand;
	*{
		color: white;
	}

	h4{
		@extend .bold;
		@extend .uppercase;
		@extend .tracked;
	}

	address{
		@extend .h4;
	}

}


.footer-col{
	margin-bottom: 2em;
}


address,.phone-number{
	font-style: normal;
	line-height: 1.9;
}

.footer-links{
	margin-top: 1.2em;
	li{
		//line-height: 2.23;
		line-height: 1.9;
	}
}

.footer-logo{
	margin-bottom: 10px;
	svg{
		width: 140px;

		@media screen and (max-width: $md) {
			width: 120px;
		}		

		path,polygon{
			fill: white;
		}
	}
}

.social-icon{
	width: 16px;
	margin-right: 10px;

	@media screen and (max-width: $xs) {
		width: 13px;
	}
}


