
/* footer */

#footer{
	background: $light-blue;
	padding-top: 4em;
	padding-bottom: 3em;

	background: $brand;
	*{
		color: white;
	}

	.footer-donate-link{
		margin-top: 15px;
	}
	
	.donate-link{
		background: darken($yellow, 18%);
		border-radius: 2px;
		text-transform: uppercase;
		@extend .bold;
		padding: 10px 15px;
		border-radius: 5px;

	}

	address{
		@extend .h4;
	}

	@media screen and (max-width: $sm) {
		text-align: center;
	}

}


.footer-col{
	margin-bottom: 2em;

	h4{
		@extend .bold;
		@extend .uppercase;
		@extend .tracked;
	}
}


address,.phone-number{
	font-style: normal;
	line-height: 1.9;
}

.footer-links{
	margin-top: 1.2em;
	li{
		//line-height: 2.23;
		line-height: 1.9;
	}
}

.footer-logo{
	margin-bottom: 10px;
	svg{
		width: 140px;

		@media screen and (max-width: $md) {
			width: 120px;
		}		

		path,polygon{
			fill: white;
		}
	}
}

.social-icon{
	width: 16px;
	margin-right: 10px;

	@media screen and (max-width: $xs) {
		width: 13px;
	}
}

.site-credit{
	//text-align: center;
	width: 33%;

	@media screen and (max-width: $sm) {
		width: 100%;
	}
	margin-top: 1em;
	h4{
		font-size: 15px;
	}

	a:hover{
		text-decoration: underline;
	}
}


