
//visualize container-fluid extents
// body:after{
// 	content: '';
// 	width: 3px;
// 	background: transparentize($yellow,.5);
// 	position: fixed;
// 	top: 0;
// 	z-index: 9999;
// 	right: $container-fluid-padding;
// 	height: 100vh;
// }

// body:before{
// 	content: '';
// 	width: 3px;
// 	padding: 0;
// 	background: transparentize($yellow,.5);
// 	position: fixed;
// 	top: 0;
// 	z-index: 9999;
// 	left: $container-fluid-padding;
// 	height: 100vh;
// }

body{
	background-color: $body-background-color;
	padding-top: $nav-height + $nav-top-height;

	@media screen and (max-width: $sm) {
		padding-top: $nav-height-mobile;
	}
}


.container-fluid{

	max-width: $container-fluid-max-width;

	padding-left: $container-fluid-padding;
	padding-right: $container-fluid-padding;

	@media screen and (max-width: $md) {
		padding-left: $container-fluid-padding / 3;
		padding-right: $container-fluid-padding / 3;
	}

	@media screen and (max-width: $sm) {
		padding-left: $container-fluid-padding-mobile;
		padding-right: $container-fluid-padding-mobile;
	}	
}


$text-button: (
	xs: (11px, 16px),
	sm: (12px, 18px),
	md: (12px, 12px),
	lg: (13px, 13px),
	xl: (13px, 13px)
	);

.button{
	display: block;

	a{
		@include text-size($text-button);	
		background: $yellow;
		padding: 10px 10px;
		font-family: $font-medium;
		color: $dark;
		@extend .uppercase;	
		border-radius: 2px;
		@extend .tracked-less;
		display: inline-block;
		text-align: center;
	}
}