


.clients-body{
	margin-top: $page-body-section-margin / 1.5;
	margin-bottom: $page-body-section-margin * 1.5;
}

.slick-clients{
	width: 90%;
	margin: 0 auto;

	@media screen and (max-width: $md) {
		width: 100%;	
	}
}

.client-item{
	width: 33%;
	display: block;
	float: left;
	padding: 0px 30px;
	height: 130px;
	margin-bottom: 15px;

	@media screen and (max-width: $sm) {
		width: 50%;
		height: 80px;
		margin-bottom: 5px;
	}

	.client-image{
		background-size: contain;
		height: 100%;
		width: 80%;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center center;

		@media screen and (max-width: $md) {
			width: 100%;
		}
	}

}



.news-body{
	.news-tile{
		h5{
			display: none;
		}
	}
}