

.page-make-ri-stronger{

	.slick-impact{
		width: 80%;

		@media screen and (max-width: $sm) {
			width: 100%;

			.slick-next{
				right: -10px;

				&:after{
					font-size: 60px;
					text-align: right;
				}
			}
		}
	}

	.impact-body{
		padding-top: 40px;
		padding-bottom: 90px;		

		@media screen and (max-width: $sm) {
			padding-top: 15px;
			padding-bottom: 30px;
		}

		h2{
			color: $yellow-darker;
			@extend .h1;
			@extend .serif;
			font-weight: bold;
			text-align: center;
			width: 92%;
			margin: 0 auto 15px auto;
		}

		h4{
			text-align: center;
			width: 75%;
			margin: 0 auto 15px auto;
			@extend .bold;
			color: $medium;
			color: $brand;
			@extend .h3;

			@media screen and (max-width: $sm) {
				width: 90%;
			}
		}

	}

}


.clients-body{
	margin-top: $page-body-section-margin / 1.5;
	margin-bottom: $page-body-section-margin * 1.5;
}

.slick-clients{
	width: 90%;
	margin: 0 auto;

	@media screen and (max-width: $md) {
		width: 100%;	
	}
}

.client-item{
	width: 33%;
	display: block;
	float: left;
	padding: 0px 30px;
	height: 130px;
	margin-bottom: 15px;

	.client-image{
		background-size: contain;
		height: 100%;
		width: 80%;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center center;

		@media screen and (max-width: $md) {
			width: 100%;
		}
	}

}


.accordion{

	margin-bottom: 20px;		

	[data-control]{
		background: darken($ultra-light, 3%);
		padding: 10px 6px 5px 15px;	
		position: relative;

		h4{
			@extend .bold;	
		}

		&:hover{
			cursor: context-menu;
			cursor: pointer;
		}

		.icon{
			float: right;
			margin-right: 10px;
			@include transform( rotate( 0deg));
			@include transition( transform, .125s );

			&:before{
				top: 0px;
			}
		}

	}

	[data-content]{
		background: lighten($ultra-light, 1%);
	}

	.wysiwyg{
		padding: 30px 15px 15px 15px;
		border: 1px solid $light-blue;
	}

	&.open{
		[data-control]{
			.icon{
				@include transform( rotate(180deg) );
			}
		}
	}

}


.news-body{
	.news-tile{
		h5{
			display: none;
		}
	}
}