
$text-menu-link: (
	xs: (15px, 15px),
	sm: (18px, 18px),
	md: (19px, 19px),
	lg: (20px, 20px),
	xl: (21px, 21px)
	);


//dropdowns
.menu-field{
	position: fixed;
	overflow: auto;
	top: $nav-drop;
	right: 0;
	width: 50%;	
	height: calc( 100vh - #{$nav-drop} );
	background: transparentize($brand-bright, .02);
	z-index: 8;
	padding-top: 70px;
	box-shadow: -1px 1px 3px transparentize($dark, .6);
	@include transform(rotateX(-90deg));
	@include transform-origin(50% 0%);
	@include transition(opacity .2s ease-in .1s);
	opacity: 0;

	&.open{
		@include transform(rotateX(0deg));
		opacity: 1;
	}

	@media screen and (max-width: $lg) {
		width: 66%;
	}

	@media screen and (max-width: $sm) {
		width: 100%
	}	

	.menu-field-left{
		width: 50%;
		float: left;
		padding-left: $container-fluid-padding;
	}

	.menu-field-right{
		width: 50%;
		float: left;
		padding: 0 30px;
	}

	.menu-field-group{
		margin-bottom: 80px;
	}


	*{
		color: white;
	}

	h3 a{
		@extend .bold;
		@extend .uppercase;
		@extend .tracked;
		font-size: 18px;
		margin-bottom: 20px;
		line-height: 1;
		border-bottom: 2px solid transparent;

		&:hover{
			color: white;
			border-bottom: 2px solid white;
		}
	}

	.menu-field-call-text{
		@extend .serif;
		font-style: italic;
		font-weight: bold;
		@include text-size($text-large);
		margin-bottom: 30px;
	}

	li {
		margin-bottom: 15px;
		line-height: 1;

		a{
			@include text-size($text-menu-link);
			line-height: 1;
			border-bottom: 2px solid transparent;
			display: inline-block;
			margin-left: 15px;

			&:hover{
				color: white;
				border-bottom: 2px solid white;
			}
		}
	}

	.menu-field-button{
		@extend .button;
		margin-bottom: 20px;
	}

	.address{
		line-height: 1.5;
	}


}

#blanket{
	width: 50%;
	left: -100%;
	background: transparent;
	opacity: 1;
	@include transform(translateY(-200%));
	@extend .vhfull;
	//display: none;
	position: fixed;
	z-index: -10;
	//border: 10px solid black;
	// @include transition(opacity .01s ease-in .29s);	

	@media screen and (max-width: $lg) {
		width: 34%;
	}

	@media screen and (max-width: $sm) {
		display: none;
	}		

}

.menu-open{
	#blanket.on{
		//background: transparentize($brand-ultra-light, .8);
		//display: block;
		left: 0;
		top: $nav-drop;
		opacity: 1;
		@include transform(translateY(0%));
		z-index: 10;
	}
}

.after{
	.menu-field{
		top: $nav-drop-after;
		height: calc( 100vh - #{$nav-drop-after} );
	}

	#blanket.on{
		top: $nav-drop-after;
	}
}
