

$text-nav: (
	xs: (13px, 9px),
	sm: (15px, 34px),
	md: (16px, 53px),
	lg: (18px, 53px),
	xl: (19px, 53px)
	);


#nav-top{
	height: $nav-top-height;
	background: #001A39;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 7;


	ul{
		float: right;
		margin-top: 10px;
	}

	li{
		display: inline-block;
		margin-left: 5px;

		a{
			color: white;
			padding: 0px 10px;
			display: block;
			@extend .tracked;
			@extend .uppercase;
			font-family: $font-medium;
			@include transition(opacity, .125s);
			font-size: 15px;

			&:hover{
				opacity: .75;
			}

			&.donate-link{
				background: $yellow;
				border-radius: 2px;
			}
		}
	}

	@media screen and (max-width: $sm) {
		display: none;
	}
}

#nav-menu{
	position: absolute;
	right: $container-fluid-padding;

	@media screen and (max-width: $md) {
		right: $container-fluid-padding / 3;
	}	

	@media screen and (max-width: $sm) {
		right: $container-fluid-padding-mobile;
	}
}


#nav-main{
	height: $nav-height;
	width: 100%;
	position: fixed;
	top: $nav-top-height;
	left: 0;
	z-index: 7;
	background: white;
	border-bottom: 2px solid $brand-ultra-light;

	@media screen and (max-width: $sm) {
		top: 0;
		height: $nav-height-mobile;
	}

	ul{
		float: right;
	}

	li{
		display: inline-block;
		margin-left: 30px;

		&:first-child{
			margin-left: 0;
		}

		@media screen and (max-width: $md) {
			margin-left: 20px;
		}

		a{
			padding: 11px 0 6px 0;
			display: block;
			@include text-size($text-nav);
			@extend .tracked-less;
			border-bottom: 5px solid transparent;
			@include transition(border, .125s);

			&:hover{
				border-bottom: 5px solid $brand-bright;
			}

			&.active{
				border-bottom: 5px solid $brand-bright;
			}
		}
	}	

}


.logo{

	margin-top: 15px;

	@media screen and (max-width: $md) {
		margin-top: 22px;
	}

	@media screen and (max-width: $sm) {
		margin-top: 10px;
	}	

	svg{
		width: 188px;

		@media screen and (max-width: $md) {
			width: 150px;
		}

		@media screen and (max-width: $sm) {
			width: 130px;
		}

	}

	a{
		display: block;
	}

}


/* mobile nav */

.mobile-nav-items{

}

.hamburger{
	display: none;

	@media screen and (max-width: $sm) {
		display: block;
	}
}

