

$text-nav: (
	xs: (12px, 9px),
	sm: (14px, 34px),
	md: (17px, 53px),
	lg: (19px, 53px),
	xl: (19px, 53px)
	) !default;


#nav-top{
	height: $nav-top-height;
	background: #001A39;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 7;

	ul{
		float: right;
		position: relative;
		right: -11px;
	}

	li{
		display: inline-block;

		a{
			color: white;
			padding: 11px;
			display: block;
			@extend .tracked;
			@extend .uppercase;
			@extend .bold;
			@include transition(opacity, .125s);

			&:hover{
				opacity: .75;
			}
		}
	}

	@media screen and (max-width: $sm) {
		display: none;
	}
}


#nav-main{
	height: $nav-height;
	width: 100%;
	position: fixed;
	top: $nav-top-height;
	left: 0;
	z-index: 7;
	background: $ultra-light;

	@media screen and (max-width: $sm) {
		top: 0;
		height: $nav-height-mobile;
	}

	ul{
		float: right;
	}

	li{
		display: inline-block;
		margin-left: 30px;

		a{
			padding: 11px 0 6px 0;
			display: block;
			@include text-size($text-nav);
			@extend .tracked;
			border-bottom: 5px solid transparent;
			@include transition(border, .125s);

			&:hover{
				border-bottom: 5px solid lighten($brand,25%);
			}

			&.active{
				border-bottom: 5px solid lighten($brand,25%);				
			}
		}
	}	

}


.logo{

	margin-top: 15px;

	svg{
		width: 188px;

		@media screen and (max-width: $sm) {
			width: 115px;
		}

	}

	a{
		display: block;
	}

}

.nav-items{

}


/* mobile nav */

.mobile-nav-items{

}

.hamburger{
	display: none;

	@media screen and (max-width: $sm) {
		display: block;
	}
}

