
$text-news-excerpt: (
	xs: (13px, 18px),
	sm: (14px, 20px),
	md: (16px, 22px),
	lg: (18px, 27px),
	xl: (20px, 30px)
);


.news-tile{
	margin-bottom: 40px;

	a{
		display: block;
		background: $ultra-light;
		padding: 1em 2em 3em 2em;
		border-bottom: 3px solid $ultra-light;
		@include transition(border, .125s);
		&:hover{
			border-bottom: 3px solid $yellow;
		}
	}

	.news-tile-label{
		span{
			background: $brand;
			color: white;
			@extend .uppercase;
			font-family: $font-medium;
			@extend .tracked-less;
			padding: 4px 8px;
			border-radius: 2px;
			font-size: 13px;

			@media screen and (max-width: $md) {
				padding: 3px 4px;
				font-size: 9px;
			}
		}

		margin-bottom: 1.25em;
	}
	
	h4{
		@extend .bold;
		@include text-size($text-large);
	}

	h5{
		width: 80%;
		@include text-size($text-news-excerpt);

		@media screen and (max-width: $lg) {
			width: 90%;
		}

		@media screen and (max-width: $md) {
			display: none;
		}
	}


}

.page-news{

	.news-tile{
		margin-bottom: 40px;

		a{
			height: 300px;			
			padding: 1em 1em 2em 1em;
			overflow: hidden;

			@media screen and (max-width: $sm) {
				height: 150px;
			}
		}

		h4{
			@include text-size($text-regular);
		}

		h5{
			width: 95%;
			@include text-size($text-medium-small);
		}

	}
}