
$text-news-excerpt: (
	xs: (13px, 18px),
	sm: (14px, 20px),
	md: (16px, 22px),
	lg: (18px, 27px),
	xl: (20px, 30px)
	);


.news-tile{
	margin-bottom: 40px;
	overflow: hidden;
	height: 300px;
	position: relative;

	@media screen and (max-width: $md) {
		margin-bottom: 30px;
		height: 150px;
	}

	a{
		display: block;
		background: $ultra-light;
		padding: 1em 2em 1.5em 2em;
		border-bottom: 3px solid $ultra-light;
		@include transition(border, .125s);
		overflow: hidden;
		height: 100%;

		@media screen and (max-width: $md) {
			padding: .75em;
		}

		&:hover{
			border-bottom: 3px solid $yellow;

			.news-tile-arrow{
				@include transform(rotate(-0deg));
			}
		}

	}

	.news-tile-label{
		span{
			background: $brand;
			color: white;
			@extend .uppercase;
			font-family: $font-medium;
			@extend .tracked-less;
			padding: 4px 8px;
			border-radius: 2px;
			font-size: 13px;

			@media screen and (max-width: $md) {
				padding: 3px 4px;
				font-size: 9px;
			}

			@media screen and (max-width: $sm) {
				padding: 3px 4px;
				letter-spacing: none;
				font-size: 8px;
			}
		}

		margin-bottom: 1em;
	}

	.news-tile-arrow{
		position: absolute;
		top: 18px;
		right: 40px;
		@include transform(rotate(-45deg));
		@include transition(transform,.125s);
		color: $medium;

		@media screen and (max-width: $md) {
			top: 13px;
			right: 30px;
		}
	}
	
	h4{
		@extend .bold;
		@include text-size($text-regular);

		@media screen and (max-width: $sm) {
			line-height: 1.3;
		}
	}

	h5{
		width: 92%;
		@include text-size($text-medium-small);

		@media screen and (max-width: $lg) {
			width: 100%;
		}

		@media screen and (max-width: $md) {
			display: none;
		}
	}

}


.page-make-ri-stronger{
	.news-tile{
		height: 200px;
	}
}


.pagination-container{
	margin-top: 60px;
	//border-top: 2px solid $yellow-darker;
	//padding-top: 30px;

	ul{
		width: 300px;
		text-align: center;
		margin: 0 auto;
	}
	
	li{
		display: inline;

		&:first-child{
			.page-item{
				//border-radius: 3px 0 0 3px;
			}
		}

		&:last-child{
			.page-item{
				//border-radius: 0px 3px 3px 0px;
			}
		}

		&.active{
			.page-item{
				background: $light;
				color: $medium-dark;				
			}
		}

		.page-item{
			display: inline-block;
			width: 40px;
			height: 40px;
			padding: 3px 15px;
			margin-left: 10px;
			color: $brand;
			text-decoration: none;
			background-color: white;
			border-radius: 50%;
			border: 1px solid $light;
		}

		a:hover{
			background: lighten($brand,55%);
		}	
	}
}