
$text-breadcrumbs: (
	xs: (12px, 30px),
	sm: (13px, 30px),
	md: (14px, 45px),
	lg: (14px, 45px),
	xl: (14px, 45px)
	);



$page-body-section-margin: 100px;


#page-breadcrumbs{
	height: 45px;
	border-bottom: 1px solid $light-blue;

	@media screen and (max-width: $sm) {
		height: 30px;
	}

	li{
		display: inline-block;
	}

	a,.breadcrumb-current{
		@include text-size($text-breadcrumbs);
		@extend .uppercase;
		@extend .tracked-less;
		color: $medium-dark;

		&:hover{
			color: $brand;
		}
	}

	.breadcrumb-slash{
		margin: 0 10px;
		color: $medium-dark;		
	}

	.breadcrumb-current{
		font-family: $font-medium;
		color: $brand;
	}
}

$text-hero: (
	xs: (13px, 15px),
	sm: (18px, 24px),
	md: (20px, 24px),
	lg: (22px, 35px),
	xl: (26px, 38px)  
	);


//page hero
#page-hero{

	img{
		-webkit-filter: saturate(80%);
	}

	.page-hero-text{		
		width: 72%;
		margin: 0 auto 3px auto;
		padding: 4em 7em 2em 7em;
		position: relative;
		z-index: 1;
		border-radius: 4px;
		box-shadow: 0px 0px 3px $dark;

		@media screen and (max-width: $sm) {
			width: 95%;
			padding: 1em 1em .5em 1em;
		}

	}

	h2{
		@include text-size($text-hero);
		margin-bottom: 0;
	}

	.page-hero-scrolly{
		display: block;
		text-align: center;
		@include animation(bounce 2.7s ease-in-out infinite);

		@media screen and (max-width: $sm) {
			height: 30px;
		}
	}

	.icon:before{
		color: $yellow;
		font-size: 90px;

		@media screen and (max-width: $md) {
			font-size: 35px;
		}
	}
}

@include keyframes(bounce) {
	0% {
		@include transform(translateY(0%));
	}
	25% {
		@include transform(translateY(23%));
	}
	75% {
		@include transform(translateY(0%));
	}
	100% {
		@include transform(translateY(0%));
	}  

}


//page content

#page-content{
	padding-top: $page-body-section-margin;
	padding-bottom: $page-body-section-margin;

	@media screen and (max-width: $sm) {
		padding-top: $page-body-section-margin / 2;		
	}
}


//page featured content

.page-feature{
	margin-bottom: $page-body-section-margin;

	@media screen and (max-width: $sm) {
		margin-bottom: $page-body-section-margin / 3; 
	}

	&.page-feature-announcement,&.page-feature-news{
		background: lighten($ultra-light, 2%);
		border-bottom: 4px solid $yellow;
		padding: 2em;

		h5{
			text-transform: uppercase;
			@extend .tracked;
		}

		h3{
			color: $brand-bright;
			font-family: 'Founders-Bold';
			margin-bottom: 1em;
		}

		h4{
			width: 80%;
			@extend .serif;
			color: $dark;
		}
	}

	&.page-feature-video{
		width: 95%;

		iframe{
			height: 400px;
		}
	}


}



//page body sections

.page-body-section{
	margin-bottom: $page-body-section-margin;
	clear: both;

	@media screen and (max-width: $sm) {
		margin-bottom: $page-body-section-margin / 2;
	}

	h3{
		color: $brand;
		margin-bottom: 1em;
		@extend .tracked-less;
		margin-top: 0;

		@media screen and (max-width: $sm) {
			margin-bottom: .4em;
		}
	}

	p{
		@include text-size($text-page-body);
		margin-bottom: $page-body-section-margin / 3;
	}
}

.wysiwyg,.page-body-section-introduction{
	*{
		font-family: $font-serif !important;
	}	
}

.page-body-section-links{
	.button{
		display: inline-block;
		margin-right: 15px;
		margin-bottom: 1em;
	}
}



//FANCY CONTENT

[data-accordion-group]{
	margin-top: 3em;
	margin-bottom: 3em;
}


.accordion{

	margin-bottom: 20px;		

	[data-control]{
		background: darken($ultra-light, 3%);
		padding: 10px 6px 5px 15px;	
		position: relative;

		h4{
			@extend .bold;	
		}

		&:hover{
			cursor: context-menu;
			cursor: pointer;
		}

		.icon{
			float: right;
			margin-right: 10px;
			@include transform( rotate( 0deg));
			@include transition( transform, .125s );

			&:before{
				top: 0px;
			}
		}

	}

	[data-content]{
		background: lighten($ultra-light, 1%);
	}

	.wysiwyg{
		padding: 30px 15px 15px 15px;
		border: 1px solid $light-blue;
	}

	&.open{
		[data-control]{
			.icon{
				@include transform( rotate(180deg) );
			}
		}
	}

}



//Statistics slider

.page-body-section-body{

	.slick-statistics{
		width: 80%;
		margin-top: 1em;
		margin-bottom: 3em;

		.slick-prev{
			&:after{
				display: none;
			}
		}

		.slick-arrow{
			&:after{
				color: $yellow-darker;
				font-size: 90px;
			}
		}

		@media screen and (max-width: $sm) {
			width: 100%;

			.slick-next{
				right: -10px;

				&:after{
					font-size: 60px;
					text-align: right;
				}
			}
		}
	}

	.statistics-slider-body{
		padding-top: 1em;
		padding-bottom: 2em;		

		@media screen and (max-width: $sm) {
			padding-top: 15px;
			padding-bottom: 30px;
		}

		h2{
			color: $yellow-darker;
			@extend .h1;
			@extend .serif;
			font-weight: bold;
			text-align: center;
			width: 92%;
			margin: 0 auto 15px auto;
		}

		h4{
			text-align: center;
			width: 75%;
			margin: 0 auto 15px auto;
			@extend .bold;
			color: $medium;
			color: $brand;
			@extend .h3;

			@media screen and (max-width: $sm) {
				width: 90%;
			}
		}

	}

}



