
$text-breadcrumbs: (
	xs: (12px, 30px),
	sm: (13px, 30px),
	md: (14px, 45px),
	lg: (14px, 45px),
	xl: (14px, 45px)
	);


$text-sidebar: (
	xs: (13px, 27px),
	sm: (13px, 27px),
	md: (14px, 29px),
	lg: (15px, 31px),
	xl: (17px, 36px)
	);

$page-body-section-margin: 100px;


#page-breadcrumbs{
	height: 45px;
	border-bottom: 1px solid $light-blue;

	@media screen and (max-width: $sm) {
		height: 30px;
	}

	li{
		display: inline-block;
	}

	a,.breadcrumb-current{
		@include text-size($text-breadcrumbs);
		@extend .uppercase;
		@extend .tracked-less;
		color: $medium-dark;

		&:hover{
			color: $brand;
		}
	}

	.breadcrumb-slash{
		margin: 0 10px;
		color: $medium-dark;		
	}

	.breadcrumb-current{
		font-family: $font-medium;
		color: $brand;
	}
}

$text-hero: (
	xs: (13px, 17px),
	sm: (18px, 24px),
	md: (20px, 24px),
	lg: (22px, 35px),
	xl: (26px, 38px)  
	);


//page hero
#page-hero{

	padding-bottom: $page-body-section-margin;

	img{
		-webkit-filter: saturate(80%);
	}

	.page-hero-text{		
		width: 72%;
		margin: 0 auto 3px auto;
		padding: 4em 7em 2em 7em;
		position: relative;
		z-index: 1;
		border-radius: 4px;
		box-shadow: 0px 0px 3px $dark;

		@media screen and (max-width: $sm) {
			width: 90%;
			padding: 1.2em;
		}

	}

	h2{
		@include text-size($text-hero);
		margin-bottom: 0;
	}

	.page-hero-scrolly{
		display: block;
		text-align: center;
		//opacity: .75;
		@include animation(bounce 2.7s ease-in-out infinite);
	}

	.icon:before{
		color: $yellow;
		font-size: 90px;

		@media screen and (max-width: $md) {
			font-size: 40px;
		}
	}
}

@include keyframes(bounce) {
	0% {
		@include transform(translateY(0%));
	}
	25% {
		@include transform(translateY(23%));
	}
	75% {
		@include transform(translateY(0%));
	}
	100% {
		@include transform(translateY(0%));
	}  

}


//page content

#page-content{
	//padding-top: $page-body-section-margin;
	//background: $light-blue;
}



//page featured content

.page-feature{
	margin-bottom: $page-body-section-margin;

	&.page-feature-announcement{
		background: lighten($ultra-light, 2%);
		border-bottom: 4px solid $yellow;
		padding: 2em;

		h3{
			color: $brand-bright;
			font-family: 'Founders-Bold';
			margin-bottom: 1em;
		}

		h4{
			width: 80%;
			@extend .serif;
			color: $dark;
		}
	}

	&.page-feature-video{
		width: 95%;

		iframe{
			height: 400px;
		}
	}


}



//page body sections

.page-body-section{
	margin-bottom: $page-body-section-margin;
	clear: both;

	h3{
		color: $brand;
		margin-bottom: 1em;
		@extend .tracked-less;
		margin-top: 0;
	}

	p{
		@include text-size($text-page-body);
		margin-bottom: $page-body-section-margin / 3;
	}
}

.wysiwyg,.page-body-section-introduction{
	*{
		font-family: $font-serif !important;
	}	
}

.page-body-section-links{
	.button{
		display: inline-block;
		margin-right: 15px;
	}
}



//page sidebar

$sidebar-link-height: 36px;
$page-sidebar-top: $nav-drop + $page-body-section-margin;

#page-content.active{
	#page-sidebar{
		position: fixed;
		top: $page-sidebar-top;
		right: $container-fluid-padding;
		height: calc(100vh - #{$page-sidebar-top});
		overflow: scroll;
	}
}

#page-sidebar{

	width: 290px;
	float: right;
	position: relative;


	.button{
		display: block;
		background: $yellow;
		border-radius: 3px;
		text-align: center;
		margin-bottom: 20px;
		@extend .bold;
		@extend .tracked;
	}
	
	.page-sidebar-title{
		@extend .bold;
		@extend .uppercase;
		margin-bottom: 20px;
		@extend .tracked;
		color: $yellow-darker;
	}

	li{
		
		height: $sidebar-link-height;
		margin-bottom: 0px;

		a{
			@include text-size($text-sidebar);
			display: inline-block;
			height: $sidebar-link-height;
			line-height: $sidebar-link-height;
			vertical-align: middle;
			
			&:hover{
				color: $brand-bright;

				.icon{
					&:before{
						@include transform(rotate(-45deg));
					}
				}

			}
		}
	}

	.additional-link{
		.icon{
			&:before{
				color: $medium;
				height: $sidebar-link-height;
				line-height: $sidebar-link-height;
				display: inline-block;
				margin-left: 10px;
				font-size: 28px;
				@include transform(rotate(0deg));
				@include transition(transform .125s);
			}
		}
	}

}

.page-sidebar-contact{
	margin-top: 30px;
}