
//page sidebar

$text-sidebar: (
	xs: (13px, 27px),
	sm: (13px, 27px),
	md: (14px, 29px),
	lg: (15px, 31px),
	xl: (17px, 36px)
	);

$sidebar-link-height: 29px;
$page-sidebar-top: $nav-height + $page-body-section-margin;


#page-sidebar{

	&.fixed{
		position: fixed;
		top: $page-sidebar-top;
		right: $container-fluid-padding;
		height: calc(100vh - #{$page-sidebar-top});
		overflow-y: auto;

		@media screen and (max-width: $md) {
			right: $container-fluid-padding-mobile;
			padding-left: 15px;
		}

	}


	width: 290px;
	float: right;
	position: relative;
	//outline: 1px solid $brand;

	@media screen and (max-width: $md) {
		width: 200px;
	}

	@media screen and (max-width: $sm) {
		width: 100%;
		height: 50px;
		background: $yellow-darker;
	}

	.button{
		display: block;
		border-radius: 3px;
		margin-bottom: 23px;
		@extend .bold;
		@extend .tracked;

		a{
			margin: 0;
		}
	}
	
	.page-sidebar-title{
		@extend .bold;
		@extend .uppercase;
		margin-bottom: 12px;
		@extend .tracked;
		color: $yellow-darker;
	}

	li{
		
		height: $sidebar-link-height;
		margin-bottom: 0px;

		a{
			@include text-size($text-sidebar);
			display: inline-block;
			height: $sidebar-link-height;
			line-height: $sidebar-link-height;
			vertical-align: middle;
			
			&:hover{
				color: $brand-bright;

				.icon{
					&:before{
						@include transform(rotate(-45deg));
					}
				}

			}
		}
	}

	.additional-link{
		.icon{
			&:before{
				color: $medium;
				height: $sidebar-link-height;
				line-height: $sidebar-link-height;
				display: inline-block;
				margin-left: 10px;
				font-size: 28px;
				@include transform(rotate(0deg));
				@include transition(transform .125s);
			}
		}
	}

}

.page-sidebar-contact{
	margin-top: 30px;

	h5{
		@include text-size($text-sidebar);
		margin: 0;
		line-height: 1.4 !important;
	}
}


//page sidebar mobile

#page-sidebar-mobile{
	display: none;
}