
.page-people-body{
	margin-top: 50px;
	@extend .clearfix;
}


.person{
	width: 32%;
	float: left;
	margin-bottom: 20px;
	height: 450px;

	*{
		text-align: center;
	}

	@media screen and (max-width: $lg) {
		height: 375px;
		width: 46%;
		margin-right: 4%;
	}	

	@media screen and (max-width: $md) {
		height: 350px;
		width: 46%;
		margin-right: 4%;
	}	

	@media screen and (max-width: $sm) {
		height: 250px;
		margin-bottom: 5px;
	}

	@media screen and (max-width: $xs) {
		height: 215px;

		*{
			word-wrap: break-word;
		}
	}	

	&.person-staff{
		width: 45%;
		margin-right: 5%;
		height: 480px;

		@media screen and (max-width: $lg) {
			height: 400px;
		}

		@media screen and (max-width: $md) {
			width: 46%;
			margin-right: 4%;
			height: 380px;
		}

		@media screen and (max-width: $sm) {
			height: 250px;
		}

	}

}

.person,.modal-person{
	img{
		width: 63%;
		margin: 0 auto 20px auto;	
		display: block;
		border-radius: 50%;
		max-width: 300px;
		-webkit-filter: saturate(85%);	

		@media screen and (max-width: $sm) {
			width: 55%;
		}

		@media screen and (max-width: $sm) {
			width: 40%;
		}
	}

	h4{
		margin: 0;
		line-height: 1.4;
		font-size: 17px;

		@media screen and (max-width: $md) {
			font-size: 15px;
		}

		@media screen and (max-width: $sm) {
			font-size: 13px;
		}
	}

	.person-name{
		@extend .bold;
		margin-bottom: 0px;
	}

	.person-email, .person-phone_number{
		color: $brand;
		letter-spacing: .03em;
		a{
			color: $brand;
			letter-spacing: .03em;
		}
	}

	h5{
		width: 80%;
		margin: 10px auto 0 auto;
		font-size: 16px;
		font-family: $font-main !important;
		line-height: 1.27;

		@media screen and (max-width: $md) {
			font-size: 14px;
			margin-bottom: 0;
		}


		@media screen and (max-width: $sm) {
			font-size: 11px;
			margin-bottom: 0;
		}

		@media screen and (max-width: $lg) {
			width: 94%;
		}
	}
}

.modal-person{
	background: $brand;
	box-shadow: 0px 0px 2px transparentize(#333, .5);
	overflow: scroll;

	.person-info,.person-strengths,.person-headshot{
		max-width: 300px;
	}

	.modal-body{
		padding: 50px;

		@media screen and (max-width: $sm) {
			padding: 20px;
		}
	}

	*{
		color: white !important;
	}

	img{
		margin-left: 0;
	}

	h4{
		font-size: 15px;
	}

	.person-name{
		font-size: 20px;
	}


	h5{
		border-top: 1px solid transparentize($ultra-light,.75);
		border-bottom: 1px solid transparentize($ultra-light,.75);
		margin-top: 15px;
		margin-bottom: 20px;
		padding: 20px 0;
		line-height: 1.2;
		font-size: 15px;
		margin-left: 0;
	}

	.person-strengths{

		ul{
			width: 80%;
			padding-bottom: 20px;
			border-bottom: 1px solid transparentize($ultra-light,.75);
			line-height: 1.1;

			@media screen and (max-width: $lg) {
				width: 94%;
			}
		}

		li{
			display: inline-block;
			margin-right: 15px;
			font-size: 15px;
			@extend .bold;
			margin-bottom: 0;
		}
	}

}

.modal-person-info{
	@media screen and (max-width: $md) {
		margin-bottom: 60px;
	}
}






