
.page-people-body{
	margin-top: 50px;
	@extend .clearfix;
}


.person{
	width: 32%;
	float: left;
	margin-bottom: 20px;
	height: 450px;

	*{
		text-align: center;
	}

	@media screen and (max-width: $lg) {
		height: 375px;
		width: 46%;
		margin-right: 4%;
	}	

	@media screen and (max-width: $md) {
		height: 350px;
		width: 46%;
		margin-right: 4%;
	}	

	@media screen and (max-width: $sm) {
		height: 250px;
		margin-bottom: 5px;
	}

	@media screen and (max-width: $xs) {
		height: 215px;

		*{
			word-wrap: break-word;
		}
	}	

	&.person-staff{
		width: 45%;
		margin-right: 5%;
		height: 480px;

		@media screen and (max-width: $lg) {
			height: 400px;
		}

		@media screen and (max-width: $md) {
			width: 46%;
			margin-right: 4%;
			height: 380px;
		}

		@media screen and (max-width: $sm) {
			height: 260px;
		}

	}

	img{
		width: 63%;
		margin: 0 auto 20px auto;	
		display: block;
		border-radius: 50%;
		-webkit-filter: saturate(85%);	

		@media screen and (max-width: $sm) {
			width: 55%;
		}

		@media screen and (max-width: $sm) {
			width: 40%;
		}
	}

	h4{
		margin: 0;
		line-height: 1.4;
		font-size: 17px;

		@media screen and (max-width: $md) {
			font-size: 14px;
		}
	}

	.person-name{
		@extend .bold;
		margin-bottom: 0px;
	}

	.person-email, .person-phone_number{
		color: $brand;
		letter-spacing: .03em;
		a{
			color: $brand;
			letter-spacing: .03em;
		}
	}

	h5{
		width: 80%;
		margin: 10px auto 0 auto;
		font-size: 17px;
		font-family: $font-main !important;
		line-height: 1.27;

		@media screen and (max-width: $sm) {
			font-size: 13px;
			margin-bottom: 0;
		}

		@media screen and (max-width: $lg) {
			width: 94%;
		}
	}

}