
body{
	font-family: $font-main;
	font-weight: normal;
	@include text-size($text-regular);
	color: $dark;
}

*{
	font-family: $font-main;	
}


//type sizes
//default sizes include:
//massive, huge, large, medium, regular, small

h1,.h1{
	@include text-size($text-massive);
}

h2,.h2{
	@include text-size($text-huge);
}

h3,.h3{
	@include text-size($text-large);
}

h4,.h4{
	@include text-size($text-medium-small);
}

h5,.h5{
	@include text-size($text-small);
}

h6,.h6{
	@include text-size($text-small);
}

p{
	@include text-size($text-regular);	
	margin-top: 0;
}

//formatting

.bold,strong{
	font-family: $font-bold;
}

.italic,em{
	font-family: $font-italic;
}

.font-light{
	font-family: $font-light;
}

.uppercase{
	text-transform: uppercase;
}

.underline{
	text-decoration: underline;
}

.centered{
	text-align: center;
}

.righted{
	text-align: right;
}

.tracked-less{
	letter-spacing: .05em;
}

.tracked{
	letter-spacing: .09em;
}



//typography colors

.brand{
	color: $brand;
}

.white{
	color: white;
}

.ultra-light{
	color: $ultra-light;
}

.light{
	color: $light;
}

.medium-light{
	color: $medium-light;
}

.medium{
	color: $medium;
}

.medium-dark{
	color: $medium-dark;
}

.dark{
	color: $dark;
}

.yellow-darker{
	color: $yellow-darker;
}


//icons

.icon{
	&:before {
		content: attr(data-icon);
		font-family: 'modern_pictograms_proregular';
		font-size: 24px;
		line-height: 100%;
		vertical-align: middle;
		position: relative;	
	}

	&.large:before{
		font-size: 72px;
	}
}

