
.wysiwyg{

	h1,h2,h3,h4,h5,h6{
		@extend .bold;
	}

	em>strong{
		font-family: $font-bold-italic;
	}

	a{
		color: $brand;
		text-decoration: underline;

		&:hover{
			color: darken($brand,20%);
		}
	}

	ol{
		padding-left: 15px;
	}

}