
.news-tile{
	a{
		display: block;
		background: $ultra-light;
		padding: 1em 2em 3em 2em;
	}

	.news-tile-label{
		span{
			background: $brand;
			color: white;
			@extend .uppercase;
			font-family: $font-medium;
			@extend .tracked-less;
			padding: 4px 8px;
			border-radius: 2px;
			font-size: 13px;
		}
		margin-bottom: 1.5em;
	}
	
	h4{
		@extend .bold;
		@include text-size($text-large);
	}

	h5{
		width: 75%;
		@include text-size($text-regular);
	}

	margin-bottom: 40px;

}