<a href="{{ project.link }}" class="rp-project-link">
    {% if featured_category %}
        <div class="project-image project-image-featured">
            <img src="{{ featured_category.supplemental_image }}" />
        </div>
    {% endif %}
    <div class="project-image project-image-normal">
        <img class="rp-project-image" src="{{ featured_image( project, 'large') }}" />
        
    </div>
    <h1 class="white bold">{{ i }}</h1>
    <h3 class="project-title rp-project-title">
        {{ project.title|safe }}
    </h3>
</a>