<div id="projects-filters" class="filters sticky-nav static" data-category-start="{{currentCategoryId}}">
    <div class="category-nav">
        <a href="#" class="filter-dropdown-button">
        Category<span class="ml1 icon" data-icon="ﬁ"></span>
        </a>
        <a id="category-label" href="#" class="">
            <span class="category-label-text"></span>
            <span class="ml1 icon category-label-icon" data-icon="’"></span>
        </a>        
        <ul class="filters-button-group">
            <li>
                <a href="/work" class="is-checked filter-all filter-button" data-filter="all" data-category="all" data-category-id="{{ project_categories.length - 1 }}">All</a>
            </li> 
            {% for category in project_categories %}
            {% if loop.last === false %}
            <li>
                <a href="/work/{{ category.slug }}" class="filter-button" data-filter="{{ category.slug }}" data-category="{{ category.slug }}" data-category-id="{{ loop.index0 }}">
                    {{ category.name }}
                </a>
            </li>  
            {% endif %}         
            {% endfor %}
        </ul>
    </div>
</div>