
<section class="block pb6" id="news-pagination">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				{% if paging.totalPages > 1 %}
					<ul class="pagination centered">
						{% set pageCount = arrayOfLength( paging.totalPages ) %}
						{% for i in pageCount %}
							<li class="{% if page == loop.index %}active{% endif %}">
								{% if page == loop.index %}
									<span class="page-item">{{ loop.index }}</span>
								{% else %}
									<a href="/news/{{ loop.index }}" class="page-item">{{ loop.index }}</a>
								{% endif %}
							</li>
						{% endfor %}
					</ul>	
				</div>
			{% endif %}
		</div>
	</div>
</section>
