
<section class="block pb6" id="sharing-body">
	<div class="container">
		{% for sharing_item in item.acf.sharing_items %}
			<div class="row sharing-item row-item">
				<div class="col-md-12">
					<hr>
				</div>
				<div class="col-md-4">
					<h4 class="bold medium-dark">{{ sharing_item.title|safe }}</h4>
				</div>
				<div class="col-md-8">
					<h4 class="mb2">{{ sharing_item.description|safe }}</h4>
					{% if sharing_item.link %}
						<a href="{{ sharing_item.link }}" target="_blank" class="button button-brand">
							{% if sharing_item.link_text %}
								{{sharing_item.link_text}}
							{% else %}
								{{sharing_item.link}}
							{% endif %}
						</a>
					{% endif %}					
				</div>
			</div>
		{% endfor %}
	</div>
</section>