<section class="block page-header pt3 pb3" id="events-upcoming-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="section-title">
					<span class="underlined">
						Upcoming Events
					</span>
				</h2>
			</div>
		</div>
	</div>
</section>
<section class="block" id="events-upcoming-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<div class="row" id="events-upcoming">
					<div class="loader-icon active"></div>					
				</div>
			</div>
		</div>
	</div>
</section>