
<section class="block padded bg-ultra-light" id="project-related">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-xs-6">
				<h3>
					More 
					<span class="rp-name h3" id="rp-category-more"></span>
				</h3>
				<a href="/work" class="button button-brand rp-slug" id="rp-category-link">
					See All 
					<span class="rp-name bold" id="rp-all"></span>
				</a>
			</div>
			{% set loopArray = [1,2,3] %}
				{% for i in loopArray %}
					<div class="col-md-3 col-xs-6 project rp-project" id="rp-{{ loop.index0 }}">
						{% include '../work/project.html' %}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>