<div class="page-body-section" id="overview">
	<div class="page-body-section-title">
		<h3 class="bold">
			{{ item.acf.overview_title|safe }}
		</h3>
	</div>
	<div class="page-body-section-body">
		<div class="wysiwyg">
			{{ item.acf.overview_body|safe }}
		</div>
	</div>						
</div>
<div class="page-body-section" id="impact">
	<div class="page-body-section-title">
		<h3 class="bold">
			{{ item.acf.impact_title|safe }}
		</h3>
	</div>
	<div class="page-body-section-body">
		<div class="page-body-section-introduction">
			<p>{{ item.acf.impact_introduction|safe }}</p>
		</div>
		<div class="impact-body">
			{% if item.acf.impact_body %}
				<div class="slick-impact slick-default">
					{% for impact_item in item.acf.impact_body %}
						<div class="slide slide-impact impact-item">
							<h2 class="impact-item-number">
								{{ impact_item.impact_item_statistic }}
							</h2>
							<h4 class="serif" class="impact-item-label">
								{{ impact_item.impact_item_label }}
							</h4>							
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>						
</div>
<div class="page-body-section" id="clients">
	<div class="page-body-section-title">
		<h3 class="bold">
			{{ item.acf.clients_title|safe }}
		</h3>
	</div>
	<div class="page-body-section-body">
		<div class="page-body-section-introduction">
			<p>{{ item.acf.clients_introduction|safe }}</p>
		</div>	
		<div class="clients-body">
			{% if item.acf.clients_body %}
				<div class="slick-clients slick-default">
					{% for client in item.acf.clients_body %}
						{% if loop.index0 === 0 || loop.index0 % 6 === 0 %}
							<div class="slide slide-clients">							
							{% endif %}
							<a href="{{ client.client_website }}" target="_blank" class="client-item">
								<img src="{{ client.client_logo.sizes.xs }}">
							</a>
							{% if loop.index0 % 6 === 5 || loop.last %}
							</div>
						{% endif %}
					{% endfor %}

				</div>
			{% endif %}
		</div>						
	</div>						
</div>					
<div class="page-body-section" id="services">
	<div class="page-body-section-title">
		<h3 class="bold">
			{{ item.acf.services_title|safe }}
		</h3>
	</div>
	<div class="page-body-section-body">
		<div class="page-body-section-introduction">
			<p>{{ item.acf.services_introduction|safe }}</p>
		</div>	
		<div class="services-body">
			{% if item.acf.strengths_services %}
				<div id="accordion" role="tablist" aria-multiselectable="true">
					{% for service in item.acf.strengths_services %}
						<div class="card service">
							<div class="card-header" role="tab" id="heading-{{loop.index}}">
								<h4>
									<a data-toggle="collapse" data-parent="#accordian" href="#collapse-{{loop.index}}" aria-expanded="true" aria-controls="collapse-{{loop.index}}">
										{{ service.service_title|safe }}
									</a>
								</h4>
							</div>
							<div class="collapse" role="tabpanel" aria-labelledby="heading-{{loop.index}}" id="collapse-{{loop.index}}">
								<div class="card-block wysiwyg">
									{{ service.service_body|safe }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>			
	</div>						
</div>
<div class="page-body-section" id="coaches">
	<div class="page-body-section-title">
		<h3 class="bold">
			{{ item.acf.coaches_title|safe }}
		</h3>
	</div>
	<div class="page-body-section-body">
		<div class="page-body-section-introduction">
			<p>{{ item.acf.coaches_introduction|safe }}</p>
		</div>
		<div class="coaches-body page-people-body">
			{% if coaches %}
				{% for person in coaches %}
					{% include "../person.html" %}
				{% endfor %}
			{% endif %}			
		</div>					
	</div>						
</div>								
<div class="page-body-section" id="news">
	<div class="page-body-section-title">
		<h3 class="bold">
			{{ item.acf.news_title|safe }}
		</h3>
	</div>
	<div class="page-body-section-body">
		<div class="page-body-section-introduction">
			<p>{{ item.acf.news_introduction|safe }}</p>
		</div>	
		<div class="news-body">
			{% if news %}
				<div class="row">
					{% for story in news %}
						{% include "../news/news-tile.html" %}
					{% endfor %}						
				</div>
			{% endif %}	
		</div>				
	</div>						
</div>
{% if item.acf.events %}
	<div class="page-body-section" id="events">
		<div class="page-body-section-title">
			<h3 class="bold">
				{{ item.acf.events_title|safe }}
			</h3>
		</div>
		<div class="page-body-section-body">
			<div class="page-body-section-introduction">
				<p>{{ item.acf.events_introduction|safe }}</p>
			</div>	
			<div class="events-body" id="events-upcoming">
			</div>				
		</div>						
	</div>	
	<script>
		var _makeRiStrongerEvents = {{events|json|safe}};
	</script>	
{% endif %}