<nav class="page-sidebar" id="page-sidebar">
	{% if item.acf.sidebar_button %}
		<a href="{{ item.acf.sidebar_button_link }}" class="button page-sidebar-button">
			{{ item.acf.sidebar_button_text }}
		</a>
	{% endif %}
	<div class="page-sidebar-outline">
		<h4 class="page-sidebar-title">
			{{ item.title.rendered|safe }}
		</h4>
		<ul>
			<li><a href="#overview" class="jump">{{ item.acf.overview_title }}</a></li>
			<li><a href="#impact" class="jump">{{ item.acf.impact_title }}</a></li>
			<li><a href="#clients" class="jump">{{ item.acf.clients_title }}</a></li>
			<li><a href="#services" class="jump">{{ item.acf.services_title }}</a></li>
			<li><a href="#coaches" class="jump">{{ item.acf.coaches_title }}</a></li>
			<li><a href="#news" class="jump">{{ item.acf.news_title }}</a></li>
			<li><a href="#events" class="jump">{{ item.acf.events_title }}</a></li>
			{% if item.acf.sidebar_additional_links %}
				{% for link in item.acf.sidebar_additional_links %}
					<li class="additional-link">
						<a href="{{ link.additional_link_url }}">
							{{ link.additional_link_text|safe }}
						</a>
					</li>
				{% endfor %}				
			{% endif %}			
		</ul>
	</div>
</nav>