<section class="block bg-white" id="home-news">
	<div class="container-fluid">
		<div class="row">	
			<div class="home-intro col-xs-6">
				<h2 class="section-title">
					<a class="underlined" href="/news">
						{{ item.news_title }}
					</a>
				</h2>
				<h3 class="section-description">
					{{ item.news_introduction }}
				</h3>
			</div>
			{% if item.featured_news %}
				{% for story in item.featured_news %}
					{% include "../news/news-tile.html" %}
				{% endfor %}
			{% endif %}			
		</div>
	</div>
</section>
