<section class="block vhfull" id="home-slideshow">
	<div class="home-slick slick slick-default" >
		{% for slide in options.introduction_slideshow %}
		<div class="home-slide">
			{% if slide.slide_link %}
			<a href="{{ slide.slide_link }}">
			{% endif %}
				<div class="block-background" style="background-image: url('{{ slide.slide_image.sizes.hero }}');">
				</div>
				{% if slide.slide_text %}
				<h1 class="slide-caption slide-caption-{{ slide.slide_text_position }}">
					{{ slide.slide_text|safe }}
				</h1>
				{% endif %}
			{% if slide.slide_link %}
			</a>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<a href="#home-about" class="scrolly jump"></a>
</section>