<section class="block vh65" id="home-introduction">
	<div class="block-background vh65">
		{% if item.introduction_gallery %}
			<div class="slick slick-home vh65">
				{% for image in item.introduction_gallery %}
					<div class="vh65 slide" style="background-image: url('{{ image.sizes.hero }}')">
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="container-fluid vertical-center">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="white">{{ item.introduction_statement|safe }}</h1>
			</div>
		</div>
	</div>
</section>