<section class="block vhfull" id="home-video">
<iframe src="https://player.vimeo.com/video/208539533?title=0&byline=0&portrait=0" class="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
{# 
	<div class="container-fluid">
		<div class="home-section-intro">
			<h2 class="section-title">
				<span class="underlined">{{ item.donate_title }}</span>
			</h2>
			<h3 class="section-description">
				{{ item.donate_introduction }}
			</h3>
		</div>
		<div class="home-section-content">
			
		</div>
	</div> #}
</section>
