{% extends 'partials/base.html' %}

{% block definitions %} {% endblock %}
{% block body_classes %} page-about {% endblock %}


{% block content %}

	{% include 'partials/about/about-introduction.html' %}
	{% include 'partials/about/about-nav.html' %}	
	{% include 'partials/about/about-profile.html' %}
	{% include 'partials/about/about-people.html' %}
	{% include 'partials/about/about-services.html' %}
	{% include 'partials/about/about-clients.html' %}
	{% include 'partials/about/about-history.html' %}
	{% include 'partials/about/about-awards.html' %}
	{% include 'partials/about/about-careers.html' %}

{% endblock %}
