{% extends 'partials/base.html' %}

{% block definitions %} {% endblock %}
{% block body_classes %} page-home {% endblock %}

{% block content %}

	{% include "partials/home/home-introduction.html" %}
	{% include "partials/home/home-featured.html" %}
	{% include "partials/home/home-what-we-do.html" %}	
	{% include "partials/home/home-impact.html" %}	
	{% include "partials/home/home-statistics.html" %}	
	{% include "partials/home/home-news.html" %}	
	{% include "partials/home/home-donate.html" %}	

{% endblock %}
