

/* CONTACT */

//map embed

.map-embed{

	iframe{
		height: 350px;
		-webkit-filter: grayscale(.5);

		@media screen and (max-width: $sm) {
			height: 250px;
		}	
	}
}

#map{
	height: 350px;
	-webkit-filter: grayscale(.5);

	@media screen and (max-width: $sm) {
		height: 250px;
	}	
}


#contact-info, #contact-contacts{
	padding-top: $container-fluid-padding;
	padding-bottom: $container-fluid-padding;

	@media screen and (max-width: $sm) {
		padding-top: $container-fluid-padding-mobile;
		padding-bottom: $container-fluid-padding-mobile;
	}
}


//contacts


