
.block{
	// border: 5px solid $light;
	// outline: 1px solid $dark;
}

body{
	background-color: $body-background-color;
	padding-top: $nav-height;

	@media screen and (max-width: $sm) {
		padding-top: $nav-height-mobile;
	}
}

.container-fluid{

	//max-width: $container-fluid-max-width;

	padding-left: $container-fluid-padding;
	padding-right: $container-fluid-padding;

	@media screen and (max-width: $md) {
		padding-left: $container-fluid-padding / 2;
		padding-right: $container-fluid-padding / 2;
	}

	@media screen and (max-width: $sm) {
		padding-left: $container-fluid-padding-mobile;
		padding-right: $container-fluid-padding-mobile;
	}	
}

$text-button: (
	xs: (10px, 13px),
	sm: (11px, 15px),
	md: (12px, 16px),
	lg: (13px, 18px),
	xl: (14px, 20px)
	) !default;

.button{
	@include text-size($text-button);
	display: inline-block;
	padding: 2px 0;
	@extend .bold;
	@extend .tracked;
	@extend .uppercase;
	color: $medium-dark;
	border-bottom: 2px solid $medium-dark;

	&.button-brand{
		color: $brand;
		border-bottom-color: $brand;
	}

	&.button-yellow{
		color: $yellow-darker;
		border-bottom-color: $yellow-darker;
	}

	&.button-white{
		color: white;
		border-bottom-color: white;
	}

	&:after{
		content: '->';
		display: inline-block;
		margin-left: 8px;
		@extend .bold;
	}

	&.minimal{
		border-bottom: none;
		&:after{
			display: none;
		}
	}

}

.padded-strict{
	padding-top: $nav-height;
	padding-bottom: $nav-height * 2;
}


.row-item{
	margin-bottom: 60px;

	hr{
		border: none;
		border-bottom: 1px solid $medium-light;	
		margin-bottom: 17px;
		@media screen and (max-width: $sm) {
			margin-bottom: 10px;
		}
	}

	@media screen and (max-width: $sm) {
		margin-bottom: 30px;
	}

	h4{
		@media screen and (max-width: $sm) {
			margin-bottom: 0;
		}
	}
}

hr{
	border: none;
	border-bottom: 1px solid $medium-light;	
	margin-bottom: 17px;
	@media screen and (max-width: $sm) {
		margin-bottom: 10px;
	}
}	



.page-header{
	padding-top: $container-fluid-padding;
	padding-bottom: $container-fluid-padding * .8;

	@media screen and (max-width: $sm) {
		padding-top: $container-fluid-padding*.7;
		padding-bottom: $container-fluid-padding * .5;		
	}
}
