

$text-nav: (
	xs: (10px, 9px),
	sm: (12px, 34px),
	md: (14px, 53px),
	lg: (14px, 53px),
	xl: (15px, 53px)
	) !default;

#nav{
	height: $nav-height;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7;
	background: $ultra-light;
	background: white;
	padding-top: 15px;

	@media screen and (max-width: $sm) {
		padding-top: 10px;
		height: $nav-height-mobile;
	}


}


.logo{

	svg{
		width: 172px;

		@media screen and (max-width: $sm) {
			width: 115px;
		}

	}

	a{
		display: block;
	}

}

.nav-items{
	float: right;
	position: relative;
	right: -9px;

	li{
		display: inline-block;
		margin-left: 10px;

		@media screen and (max-width: $lg) {
			margin-left: 7px;
		}		
	}

	a{
		color: $medium-dark;
		@include text-size($text-nav);
		display: block;
		padding: 0 15px;
		@extend .uppercase;
		@extend .tracked;
		@include transition(all .125s);

		&:hover{
			color: $brand;
		}

		@media screen and (max-width: $lg) {
			padding: 0 10px;
		}			

		@media screen and (max-width: $sm) {
			padding: 0 9px;
		}

		@media screen and (max-width: $xs) {
			display: none;
		}		
	}

}


/* mobile nav */

.mobile-nav-items{
	position: fixed;
	top: $nav-height-mobile;
	left: 0;
	height: calc(100vh - #{$nav-height-mobile});
	width: 100%;
	background: $brand;
	z-index: 7;
	@extend .tracked;
	@include transform(translate( 150%, 0% ));
	overflow: scroll;
	//display: none;
	@include transition(transform, .25s);

	li{
		border-bottom: 1px solid transparentize($ultra-light, .8);

		&:first-child a{
			padding-top: 17px;
		}
	}

	a{
		text-transform: uppercase;
		font-size: 15px;
		color: $medium-dark;
		color: white;
		display: block;
		padding: 12px 0;
		padding-left: 15px;				
	}
}

.menu-open{
	.mobile-nav-items{
		@media screen and (max-width: $xs) {
			//display: block;
			@include transform(translate( 0, 0% ));
		}
	}

	.hamburger{
		.icon:before{
			content: 'ﬂ';
		}
	}
}

.hamburger{
	position: fixed;
	top: 4px;
	right: 10px;
	z-index: 8;
	display: none;	

	.icon:before{
		color: $brand;
		font-size: 45px;
	}

	@media screen and (max-width: $xs) {
		display: block;
	}
}




/* page identification */

.page-about{
	.nav-about-link{
		color: $brand;
		@extend .bold;
		@media screen and (max-width: $xs) {
			color: rgba(255,255,255,.7);
		}
	}
}

.page-work,.page-project{
	.nav-work-link{
		color: $brand;
		@extend .bold;
		@media screen and (max-width: $xs) {
			color: rgba(255,255,255,.7);
		}
	}
}

.page-news{
	.nav-news-link{
		color: $brand;
		@extend .bold;
		@media screen and (max-width: $xs) {
			color: rgba(255,255,255,.7);
		}
	}
}

.page-contact{
	.nav-contact-link{
		color: $brand;
		@extend .bold;
		@media screen and (max-width: $xs) {
			color: rgba(255,255,255,.7);
		}
	}
}