<section class="block contact-section" id="contact-info">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mb3">
				<address class="address h4">
					DBVW Architects<br>
					{{options.address|safe}}
				</address>
				<h4 class="phone-number mb3">
					phone: {{options.phone_number}}
				</h4>

				<h4 class="mb0">
					<a href="/sharing" class="button button-yellow minimal">
						FTP and File Sharing
					</a>
				</h4>
				<h4 class="mb0">
					<a href="/careers" class="button button-yellow minimal">
						Careers
					</a>
				</h4>
				<h4 class="mb0">
					<a href="/about" class="button button-yellow minimal">
						About DBVW
					</a>
				</h4>								
			</div>
			<div class="col-md-8">

				{# <div class="map-embed">
					<iframe frameborder="0" style="border:0"
					src="https://www.google.com/maps/embed/v1/place
					?q=dbvw+architects
					&key=AIzaSyAFV1bY3mTPJC0FV9w2tEQZ1DhN9SVsf-8
					&zoom=14
					" allowfullscreen></iframe>
				</div> #}

				<div id="map"></div>
				<script>
					var map;
					function initMap() {
						var myLatLng = {lat: 41.818607, lng: -71.411319}
						map = new google.maps.Map(document.getElementById('map'), {
							center: myLatLng,
							zoom: 15,
							disableDefaultUI: true
						});

						var contentString = '<div id="content">'+
						'<div id="siteNotice">'+
						'</div>'+
						'<h4 class="bold">DBVW Architects</h4>'+
						'<div id="bodyContent">'+
						'<p>111 Chestnut Street<br>'+
						'Providence RI, 02903</p>'+
						'<p><a target="_blank" href="https://www.google.com/maps/dir//Durkee+Brown+Viveiros,+111+Chestnut+St+%232,+Providence,+RI+02903/@41.818603,-71.41125,15z/data=!4m15!1m6!3m5!1s0x0:0xa27ced6bbbb59cf!2sDurkee+Brown+Viveiros!8m2!3d41.818603!4d-71.41125!4m7!1m0!1m5!1m1!1s0x89e4456b449c97d9:0xa27ced6bbbb59cf!2m2!1d-71.41125!2d41.818603">'+
						'Get Directions</a></p>'+
						'</div>'+
						'</div>';

						var infowindow = new google.maps.InfoWindow({
							content: contentString
						});

						var marker = new google.maps.Marker({
							position: myLatLng,
							map: map,
							title: 'DBVW Architects'
						});

						marker.addListener('click', function() {
							infowindow.open(map, marker);
						});
					}
				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFV1bY3mTPJC0FV9w2tEQZ1DhN9SVsf-8&callback=initMap"
				async defer></script>
			</div>
		</div>
	</div>
</section>