<div class="page-body-section" id="contact-content">
	{% if item.acf.contacts %}
		{% for contact_item in item.acf.contacts %}
			<div class="row contact-item">
				<div class="col-xs-12 col-sm-4">
					<h4>{{ contact_item.contact_title }}</h4>
				</div>
				<div class="col-xs-12 col-sm-4">
					{% if contact_item.contact_email %}
						<a href="mailto:{{contact_item.contact_email}}" target="_blank">
						{% endif %}
						<h4>{{ contact_item.contact_email }}</h4>
						{% if contact_item.contact_email %}
						</a>
					{% endif %}
				</div>
				<div class="col-xs-12 col-sm-4">
					<h4>{{ contact_item.contact_phone }}</h4>
				</div>										
			</div>											
		{% endfor %}
	{% endif %}		
</div>
