
{% if careers %}
	{% set item = careers %}
{% endif %}

<section class="block bg-ultra-light padded" id="careers-dbvw">
	<div class="container-fluid">
		<div class="row mb4">
			<div class="col-md-6 col-lg-5">
				<h3>{{ item.acf.working_at_dbvw_statement }}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 mb2">
				<img src="{{ item.acf.working_at_dbvw_image.sizes.large }}" />
			</div>
			<div class="col-md-6 offset-md-1">
				{% for row in item.acf.working_at_dbvw_overview %}
					<div class="row mb1">
						<div class="col-md-4 col-lg-4">
							<h4 class="medium-light">
								{{ row.title }}
							</h4>
						</div>
						<div class="col-md-8">
							<h4>
								{{ row.description }}
							</h4>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
	</div>
</section>