<section class="block padded" id="careers-jobs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="mb2">Current Positions</h3>
			</div>
		</div>
		{% for job in jobs %}
			<div class="row job row-item">
				<a href="{{ job.link }}">
					<div class="col-md-12">
						<hr>
					</div>
					<div class="col-md-4">
						<h4 class="bold medium-dark">{{ job.title.rendered }}</h4>
					</div>
					<div class="col-md-8">
						<h4>Click Here to Apply</h4>
					</div>
				</a>
			</div>
		{% endfor %}
		<div class="row job row-item">
			<div class="col-md-12">
				<hr>
			</div>
			<div class="col-md-4">
				<h4 class="bold medium-dark">General Employment Inquiries</h4>
			</div>
			<div class="col-md-8">
				<a href="mailto:info@dbvw.com" target="_blank">
					<h4>Click Here to Apply</h4>
				</a>
			</div>
		</div>
	</div>
</section>